[2017-08-30 17:38] dnovillo commented on #608
I'm starting to look at adding some new options to spirvopt.  Analysis invalidation will likely affect my work.  I can take a stab at fixing this first.

[2017-08-30 17:52] greg-lunarg commented on #731
Claimed.

[2017-08-30 18:01] greg-lunarg commented on #731
I will actually write a framework that will support general constant folding. I will start by folding operations that result in booleans and add from there.

[2017-08-30 18:06] antiagainst commented on #731
Just wanted to note that we've already gotten something that can aid folding constants: https://github.com/KhronosGroup/SPIRV-Tools/blob/master/source/opt/fold_spec_constant_op_and_composite_pass.cpp

It would be nice if that code can be reused.

[2017-08-30 18:22] #776 closed

[2017-08-30 18:27] dneto0 commented on #772
FYI @dnovillo

[2017-08-30 18:46] dnovillo commented on #772
@dneto0 thanks.  So, this is something that I've started looking at this week.  My initial thoughts are to add a family of -Ox flags like other compilers do:

* -O: Optimize for performance.  We may even offer numbers to increase aggressiveness.
* -Os: Optimize for size.

In addition, I'd like to create a configuration harness to allow users to express different transformation sequences from the o

[2017-08-30 19:13] greg-lunarg commented on #772
The config harness idea sounds good.

The concern I have with the -Os flags is how to deal with the issue of exhaustive inlining. The SPIR WG has said they don't want exhaustive inlining to be done by "default". I am presuming by this that they would not approve of exhaustive inlining to be done in -Os. Anyone disagree?

Would the -Os flags replace the --do-all-size-exhaustive idea? If so, how wou

[2017-08-30 20:14] dnovillo commented on #772
On Wed, Aug 30, 2017 at 3:13 PM, greg-lunarg <notifications@github.com>
wrote:

-Os should do minimal inlining.  It's optimizing for size.  Inlining goes
to the other end of the spectrum.

I think they're semantically similar.  In general, -Os means make the code
as small as possible.  Is that what '--do-all-size-exhaustive' would do?

[2017-08-30 20:38] jbarczak commented on #772
I don't have data to back this up, but exhaustive inlining may or may not be optimal for code size, depending upon how a particular application organizes its SPIR-V code.   There are many  HLSL code bases which rely on the combination of exhaustive inlining and constant folding to produce reasonable code ( for example, passing boolean literals to functions to turn on or off various features, or pa

[2017-08-30 20:47] greg-lunarg commented on #772
Inlining is also the only way right now that we do interprocedural analysis ie. constant propagation across function calls. So lack of inlining currently could prevent further optimization down the line and result in a larger result rather than smaller.

We are getting acceptable code sizes for our client's shaders with exhaustive inlining and unacceptable sizes with exhaustive inlining disabled.

[2017-08-30 21:09] paniq opened #785 "Validator doesn't check Sampled Type of OpTypeImage instruction"
The [specs](https://www.khronos.org/registry/spir-v/specs/1.1/SPIRV.html#OpTypeImage) state that

which means that passing a vector type is illegal. Nevertheless the validator does ignore if a vector type is passed as _Sampled Type_.

[2017-08-30 21:39] dnovillo commented on #772
On Wed, Aug 30, 2017 at 4:47 PM, greg-lunarg <notifications@github.com>
wrote:

Yeah, that's typically true.  Inlining is the great enabler for IPO.  But I
wasn't familiar with the concept that extensive inlining would make the
code smaller.  I can see how this could happen though.

Sure, and -O would always do exhaustive inlining.  I'm not familiar with
the spirvopt inliner, so I'm not sure what

[2017-08-30 21:43] dnovillo commented on #772
On Wed, Aug 30, 2017 at 4:38 PM, jbarczak <notifications@github.com> wrote:

In my proposal this is exactly how it would work.  The sequence of
transformations would be left to right in the command line.  First do
--inline-exhaustive and then do the sequence defined by -Os or -Ox.

[2017-08-30 21:59] greg-lunarg commented on #772
I continue to have a concern with this approach: I think it is a good idea to create a single option to "do everything", but if -Os is the answer and it doesn't do inlining, then it won't work very well and thus is not "doing everything".

I am worried that this will be suprising and unintuitive. If we are going to the trouble of consolidating size reduction passes under an option, then it seems t

[2017-08-30 22:34] dneto0 commented on #785
The validator is quite incomplete. I'll add this to the validator project.

[2017-08-30 22:44] dneto0 opened #787 "Inliner: Generates invalid structured control flow when function call is in a single-block loop, and callee has control flow"
Here's a somewhat reduced example:

Original OpenCL C source:
[code]
Compling with https://github.com/google/clspv we get:
[code]
The control flow graph is:
![a](https://user-images.githubusercontent.com/13054574/29898182-6076dd86-8db2-11e7-9867-efbcd1894516.png)

The 'bar' function starts at block with id 27, and has a simple selection structure.

The interesting bit is the loop with a single blo

[2017-08-30 22:45] dneto0 commented on #787
Cc @greg-lunarg .  Here's a fun one.  I can probably hand-code more compact example, but I think you can think about the solution.  :-)

[2017-08-31 13:45] dneto0 commented on #787
Here's a simplified test case:
[code]
The CFG looks like this:
![a](https://user-images.githubusercontent.com/13054574/29926266-ef6b9aa8-8e30-11e7-80a4-d5f3a64a8aaa.png)

Inlining produces this
[code]
And this is the resulting CFG:
![b](https://user-images.githubusercontent.com/13054574/29926317-171c1190-8e31-11e7-8f97-3d199a94e1b9.png)

The Continue arc from 13 back to 10 is a symptom of the prob

[2017-08-31 13:57] dneto0 commented on #787
I'm working on a fix.

[2017-08-31 16:09] dnovillo commented on #772
On Wed, Aug 30, 2017 at 5:59 PM, greg-lunarg <notifications@github.com>
wrote:

I think it's simply a matter of deciding to make -Os expand into the
inliner flags if that's helpful in general.  If it is, then by all means we
should put it in.

Agreed.

[2017-08-31 16:18] paniq opened #788 "Request for more intelligible Disassembly output"
I use spirv-dis a lot to fix validation errors. I greatly appreciate the color coding. Yet I find the output generated by spirv-dis a little difficult to read, compared to reading LLVM IR. I understand that the output is supposed to be valid parseable text, so here are two small suggestions that would improve readability a great deal while not breaking parsing rules:

(We assume no beginning inden

[2017-08-31 16:39] greg-lunarg commented on #787
First impression: Before inlining, break all single block loops into "canonical" empty header form.

[2017-08-31 17:14] dneto0 commented on #772
Just catching up with this thread.

Point of order:

- Please keep on topic.  Discussion of the Vulkan ecosystem, status of various tool flows, or anything other than the form/content/expression of SPIR-V optimization flows is off topic for this issue. It's interesting but belongs elsewhere.  If you can't find a better home for that discussion then open another issue in this repo.

My opinions:

-

[2017-08-31 20:16] dnovillo commented on #702
I've started working on this.

[2017-08-31 21:14] dneto0 opened #790 "Inliner: Fails to remap callee block entry ID when splitting for multi-return callee case"
This can cause a dominance error in a Phi inside the cloned callee.

I found this by inspection while working on #787

Example input:

[code]
The function %9 has multiple returns, and is called from entry point %1.  So when inlining we make a single-trip loop to enclose the cloned callee.
The result of inlining is:
[code]
The problem is the Phi yielding %28.  The %18 block is not even a parent. In

[2017-08-31 21:27] dneto0 commented on #790
I'm working on a fix.

[2017-08-31 21:56] dneto0 commented on #788
I sympathize.  I stare at a lot of diassembly too!

Thanks for the thoughtful suggestions.

- Gaps between main sections.  I agree inserting gaps between functions would make it easier to read.  I tend to do that manually in an editor, but it would be better if automatic.  I also tend to insert a gap before decorations, before types-and-constants.  I hope you'd find that useful too.

- Extra inden

[2017-09-01 19:49] #787 closed

[2017-09-01 19:58] #790 closed

[2017-09-01 19:58] dneto0 commented on #781
Fixed by #783

[2017-09-01 19:58] #781 closed

[2017-09-01 20:53] dneto0 opened #796 "validator: OpModuleProcessed should be usable anywhere in the module (1.1 and later)"
Reported by @sheredom

Indeed, the SPIR-V spec places no restrictions on where it should be allowed.
The validator is complaining about it anywhere other than within a basic block.

[2017-09-01 21:59] dneto0 opened #798 "spirv-as: Silently accepts and ignores --target-env=spv1.2"
The option is supposed to be supplied without the equal.

[2017-09-01 21:59] dneto0 commented on #798
Cc: @sheredom

[2017-09-02 22:07] dneto0 opened #800 "inliner: fails to move OpLoopMerge to top of loop when inlining multi-block function into loop header"
This is like #787 but it applied to loops that aren't just single-block loops. It happens in general.

Example:
[code]

The salient bits are:
- Callee function foo has two blocks. So it will generate multiple blocks when inlined
- The call to foo occurs in the loop header block:  between its Label and LoopMerge instructions
- This example is different from #787 because in this case the loop header

[2017-09-02 22:08] dneto0 commented on #800
I think the fix is to relax the "self-loop" check in the inliner.  Just apply that rule in general?

[2017-09-02 23:01] dneto0 commented on #800
Hmm. The fix is rather more complex because we can't do the fixup of the continue target so easily in this case.  We don't know the identity of the block having the latch edge until many intervening blocks have been generated.

The solution might be to proactively split the loop header block into three pieces right away

[2017-09-03 19:36] dneto0 opened #802 "spvtoos::ir: should handle OpModuleProcessed like OpLine and OpNoLine"
OpModuleProcessed is a debug instruction introduced in SPIR-V 1.1.  It can appear anywhere.  But it will confuse code most code transform code.  The spvtools::ir::Instruction class should handle it similarly to OpLine and OpNoLine.

[2017-09-04 15:35] LoopDawg commented on #768
@johnkslang pointed me to this issue.  I was (very tentatively) thinking about a module merger tool, but to a quick glance, it looks like there would be a lot of overlap with this linker, so the motivation for it may be covered or nearly covered by this.

Does the linker handle:

 (1) Eliminating logically identical functions when the IDs within the functional duplicates are different between modu

[2017-09-05 13:53] dneto0 opened #805 "Eliminate logically redundant functions"
Keep only one copy of a function if there are multiple equivalent copies.
Can arise from merging modules.
See https://github.com/KhronosGroup/SPIRV-Tools/issues/768

[2017-09-05 14:15] dneto0 commented on #768
Answering:

No to (1).   Eliminating logically redundant functions could be delivered as a code transform pass, available in spirv-opt (and underlying API).   I filed #805 to track that as a separate task.

Yes to (2).
I just realized that entry point names can collide.  I don't know if the linker errors out, but it should.  Also, GLSL shaders are always named "main" by default.  I believe Glslang

[2017-09-05 14:39] pierremoreau commented on #768
The linker already errors out if there are multiple entry points of the same type and with the same name, or multiple entry points with the same name but of different types (see https://github.com/pierremoreau/SPIRV-Tools/blob/implement_linker/test/link/entry_points_test.cpp).

[2017-09-05 17:01] dneto0 commented on #696
https://github.com/KhronosGroup/SPIRV-Tools/pull/786 added checks for basic arithmetic operations

[2017-09-05 17:33] dneto0 opened #806 "validator: ProcessExtensions quits early if it encounters a debug instruction"
The validator can fail to register an extension if a debug instruction appears before an OpExtension instruction

[2017-09-05 17:39] atgoo commented on #806
Should the validator not fail this due to incorrect module layout?

[2017-09-05 17:44] LoopDawg commented on #768
OK, thanks!  Agreed about an identical fn removal optimization.

About name collisions: my tentative thinking for module merging aimed at redundancy elimination was that collisions would be common in real world cases, but that a disambiguation mechanism could be supplied.  If not already de-collided at compile time, it could be a user supplied mapping, and/or procedural substitution such as append

[2017-09-05 21:13] dneto0 commented on #806
OpModuleProcessed is a debug instruction new in 1.1.  I've been convinced by @sheredom that there is no restriction on where it can be placed.  But perhaps that is debatable.

[2017-09-05 23:47] #800 closed

[2017-09-05 23:51] #798 closed

[2017-09-06 15:11] dneto0 commented on #670
I prototyped something very simple yesterday, but I'm not particularly satisfied with it (and it also causes some test failures):    During instruction-by-instruction processing in the validator, if an error triggers then show the disassembled instruction right after the error.

Example:
[code]

It's a baby step to better messages.  Also it doesn't address your original request. :-(

Is this usefu

[2017-09-06 16:29] baldurk commented on #670
I think this is definitely a step in the right direction, the line should be (mostly) unique so apart from anything else it can still be used to ctrl-f to find the failing statement.

[2017-09-06 16:31] dneto0 commented on #806
SPIR WG agreed to restrict OpModuleProcessed to section 7 of the layout.

[2017-09-06 16:31] #806 closed

[2017-09-06 21:23] pierremoreau opened #808 "Improve error reporting when using opt::ir::Module"
If there is something wrong with one of the instructions, it is not possible to give any indication about where that instruction is located. Would it be possible to track, per instruction, at which offset it is located, for example? It could be computed when parsing the initial module, and maybe refreshed when calling a dedicated function on the module.

[2017-09-07 21:50] dneto0 commented on #796
Closing. SPIR WG decided OpModuleProcessed belongs in its own layout section 7c.
That's covered by https://github.com/KhronosGroup/SPIRV-Tools/pull/812

[2017-09-07 21:50] #796 closed

[2017-09-07 21:51] dneto0 commented on #802
Closing.
SPIR WG decided OpModuleProcessed belongs in its own section 7c.  So not like OpLine or OpNoLine

[2017-09-07 21:51] #802 closed

[2017-09-07 21:52] dneto0 opened #813 "spvtools::ir Should handle OpModuleProcessed in its own 3rd debug section"
SPIR WG recently decided OpModuleProcessed belongs to its own 7c layout section.

[2017-09-08 13:17] dneto0 commented on #813
I'm claiming this

[2017-09-08 13:41] dneto0 opened #814 "ir::module should track source strings, names, and module processed separately"
This is needed so we can easily add debug info in the right places and avoid trivial layout violations.

[2017-09-11 13:39] s-perron commented on #714
I've started working on this.  I'll be creating a new pass that will scan each instruction looking for these opportunities.  It should be easy enough to extend to other opportunities that look at a single instruction and those defining its operands.

[2017-09-11 14:27] s-perron commented on #703
I will take a look at this issue.

[2017-09-12 16:22] greg-lunarg opened #816 "Opt: Optimize Private variable references"
Currently, spirv-opt only optimizes references for function scope variables. However, there exist shaders where optimizing Private (static) variables can have benefits for following optimizations such as dead branch elimination, etc.

[2017-09-15 13:27] dneto0 opened #821 "MemPass::KillNamesAndDecorates should handle OpGroupDecorate"

[2017-09-15 13:42] dneto0 commented on #821
Suggest this is a good learning exercise for @s-perron.
It would be a good introduction to the wonderful world of decorations!

For examples of decorations and group decorations in paticular you can look at the tests for flatten_decorations_pass.  That pass converts all all group decorations into individual decorations.
Unfortunately no compiler I know of generates group decorations, but fixing th

[2017-09-18 21:10] dneto0 commented on #714
Multiply-by-power of 2 was handled by @s-perron's https://github.com/KhronosGroup/SPIRV-Tools/pull/815.

This issue will remain open as a PLACEHOLDER for other simple strength reductions.   I'll keep it open to list specific ideas, and to claim the work.

[2017-09-19 12:05] danginsburg opened #824 "spirv-opt: assert/crash with --eliminate-local-multi-store pass"
I am using SPIRV-Tools master (to commit c6dfc1188) and SPIRV-Headers master (to commit 2bb92e6fe) and hit an assert/crash with the attached shader in --eliminate-local-multi-store pass.

To repro the assert, you can run the command-line:

spirv-opt.exe --eliminate-local-multi-store lightandcopy.spv -o lightandcopy_opt.spv
Assertion failed: index < operands_.size() && "operand index out of bound",

[2017-09-19 15:32] dneto0 commented on #824
Here's my trace with debug info:

#0  0x00007ffff743dc37 in __GI_raise (sig=sig@entry=6) at ../nptl/sysdeps/unix/sysv/linux/raise.c:56
#1  0x00007ffff7441028 in __GI_abort () at abort.c:89
#2  0x00007ffff7436bf6 in __assert_fail_base (fmt=0x7ffff758b018 "%s%s%s:%u: %s%sAssertion `%s' failed.\n%n",
    assertion=assertion@entry=0x7af578 "index < operands_.size() && \"operand index out of bound\"",

[2017-09-19 15:39] dneto0 commented on #824
I have a stack trace with debug info:
#0  0x00007ffff743dc37 in __GI_raise (sig=sig@entry=6) at ../nptl/sysdeps/unix/sysv/linux/raise.c:56
#1  0x00007ffff7441028 in __GI_abort () at abort.c:89
#2  0x00007ffff7436bf6 in __assert_fail_base (fmt=0x7ffff758b018 "%s%s%s:%u: %s%sAssertion `%s' failed.\n%n",
    assertion=assertion@entry=0x7af578 "index < operands_.size() && \"operand index out of bound\

[2017-09-19 16:10] greg-lunarg commented on #824
I have recreated this with VS.

[2017-09-19 17:09] dneto0 commented on #824
I'm trying to reduce the test case.

[2017-09-19 17:48] greg-lunarg commented on #824
One unusual aspect to this shader is that even with exhaustive inlining, at least function is not inlining into the entry point. The failure is occurring in the called function. This is likely related to the problem as shaders with non-inlined calls have not gotten much exercise.

[2017-09-19 19:52] greg-lunarg commented on #824
Fix submitted PR #825

[2017-09-19 19:52] dneto0 commented on #824
Something fishy is going on.  We have multiple functions F1 and F2.  When traversing blocks in structured order in F2, we end up seeing a block from F1. Strangely.

And.... I'll look at Greg's patch.  :-)

[2017-09-19 20:29] dneto0 commented on #824
Fixed by #825

[2017-09-19 20:29] #824 closed

[2017-09-19 21:13] dneto0 opened #826 "crash in --eliminate-local-multi-store"
Example from Vulkan CTS, reduces to this:

[code]

The problem appears in processing %16, in the PatchPhis method.

[2017-09-19 21:26] dneto0 commented on #826
Cc @greg-lunarg

[2017-09-19 21:27] dneto0 commented on #826
The live var set is empty when processing the self-loop block with id 14.  And the pass crashes when processing the (16, 14) pair at the end of the OpPhi with id 15.

[2017-09-19 23:19] dneto0 commented on #826
I have a fix.  Making a test for it.

[2017-09-19 23:21] greg-lunarg commented on #826
Yeah, the code assumes all phi's need to be patched, in actuality, only phi's generated by the elim-multi-store pass need to patched. Is that your fix?

[2017-09-20 14:03] s-perron commented on #821
I'll start looking into this issue today.

[2017-09-20 14:38] hevrard opened #827 "spirv-opt segfault when combining options --compact-ids --inline-entry-points-exhaustive"
spirv-opt segfaults when invoked with both options --compact-ids --inline-entry-points-exhaustive , e.g.:

`spirv-opt --compact-ids --inline-entry-points-exhaustive shader.spv -o shader_opt.spv`

This seems to be independent of the shader contents, the shader must still be a well-formed spir-v file.

[2017-09-20 15:22] dneto0 commented on #826
Yes.  Please take a look at #828

[2017-09-20 15:29] dneto0 commented on #827
I've tried 2 different shaders, and both orderings of optimizations, but haven't reproduced it.

Please provide a reproduction case.

[2017-09-20 15:35] hevrard commented on #827
Here comes a shader for reproduction, uploaded as a text file to work around github limitations.

[shader.spv.txt](https://github.com/KhronosGroup/SPIRV-Tools/files/1318292/shader.spv.txt)

[2017-09-20 19:21] dneto0 commented on #827
I can reproduce the problem and have seen some bad data internally.  Thanks!

[2017-09-20 20:52] dneto0 commented on #827
The bug is in the compact-ids pass.
On this line it directly modifies the underlying word storing the result id.
https://github.com/KhronosGroup/SPIRV-Tools/blob/master/source/opt/compact_ids_pass.cpp#L35

But the Instruction instance caches the  result id and type id in members result_id_ and type_id_, respectively.

This just proves again that caching is one of the hardest things in computing.

[2017-09-20 20:57] dneto0 commented on #827
Assigned to @atgoo

The interesting thing is the design of the solution is not obvious.

Do we maximize safety by hiding the `words` member of an ir::Operand and force the modification to go through an API on the instruction?  I suspect there are many good uses of direct access.

Or do we fix the problem locally in the compact-ids pass and take the risk that the same mistake might be made elsewher

[2017-09-20 21:06] dneto0 commented on #827
I made ir::Operand::words private and got 31 unique compilation failures.
* Many uses in instruction.h and instruction.cpp are writes, and it would be ok to add a special method for that, because those methods know that they have to update the cached result_id_ and type_id_.
* Most other uses appear to be reads of the data. That would be satisifed by a const & accessor to the words vector.

I susp

[2017-09-21 14:01] #826 closed

[2017-09-22 16:34] greg-lunarg opened #832 "Opt: Need to apply optimizations to exported functions"
Currently the "size" optimizations are only applied to the call tree of a module's entry points. Need to also apply them to all exported functions as well.

The dead function elimination PR adds a function which includes exported functions as well as entry points.

[2017-09-22 17:51] greg-lunarg opened #833 "Need pass to eliminate dead types and global variables from module"
Once dead functions have been eliminated from a module, we will want to remove dead types and global variables.

We will also want to remove dead constants, but there is already a pass to remove dead constants from a module. It seems like we could leverage this code, especially for types as they have a similar recursive nature.

Probably want to eliminate dead variables before dead types as they m

[2017-09-22 18:22] antiagainst commented on #833
Dead type and dead constant removal is kinda dependent on each other since we need constants to define types and types to define constants sometimes. So it makes sense to combine them into one.

[2017-09-25 16:27] dneto0 opened #834 "Add option to disable compilation of compressing codec"
The auto-generated code markv_codec.inc stresses some compilers.  It might be the cause of TravisCI failures.  See https://github.com/KhronosGroup/glslang/pull/1070

Add an option to disable its compilation.  Glslang doesn't need it.

[2017-09-25 16:27] dneto0 commented on #834
I'm doing this

[2017-09-25 16:30] dneto0 commented on #834
Ah.  @atgoo is doing this.  :-)

[2017-09-25 16:37] dneto0 commented on #833
@s-perron and @dnovillo are taking a look at overhauling / refactoring the IR classes, and will likely add a types-pool and constants-pool mechanism. That would likely subsume this specific feature.

[2017-09-25 18:38] dneto0 commented on #834
WIP https://github.com/KhronosGroup/SPIRV-Tools/pull/835

[2017-09-25 18:38] #834 closed

[2017-09-25 18:43] dneto0 commented on #834
The solution *disables* building by default.  To enable it, use Cmake option SPIRV_BUILD_COMPRESSION

[2017-09-25 20:57] atgoo opened #837 "Spec bug: OpConvertPtrToU wrong result type"
In the description of OpConvertPtrToU

Result Type must be a scalar **or vector** of integer type, whose Signedness operand is 0.
should be
Result Type must be a scalar of integer type, whose Signedness operand is 0.

[2017-09-26 15:10] johnkslang commented on #837
SPIR-V specification issues should be submitted against the [SPIR-V headers project](https://github.com/KhronosGroup/SPIRV-Headers).

[2017-09-26 16:05] dneto0 opened #838 "Check type of OpSampledImage image component vs result type's image component"
See test case in https://github.com/KhronosGroup/glslang/issues/1073

[2017-09-26 16:06] dneto0 opened #839 "Check types for: OpVectorTimesScalar, the matrix ops, OpDot, IAddCarry, ISubBorrow, and the extended multiplications."
Claimed by @atgoo
https://github.com/KhronosGroup/SPIRV-Tools/pull/822

[2017-09-26 16:10] dneto0 opened #840 "Type check: operands of OpBitwise* should be integers or integer vectors."
Claimed by @atgoo
https://github.com/KhronosGroup/SPIRV-Tools/pull/831

[2017-09-26 17:14] dneto0 commented on #597
More about unknown instructions:

#625 has been resolved. @atgoo made it more flexible than originally envisioned: The assembler has an option to preserve numeric ids it sees on the input.

How about allowing an Op999 instruction take any number of literal number or SSA ID parameters.
So for example  Op999 %14 15 %16 17  would have IDs %14 and %16 that could be remapped by the assembler.

On disas

[2017-09-26 17:32] johnkslang commented on #838
Since it is not yet entirely clear the spec should not be changed here, can this one be prioritized behind missing validator pieces that are unquestionably needed but have been missing for some time now?

[2017-09-26 17:38] dneto0 commented on #699
See also DefUseManager::KillInst and DefUseManager::KillNamesAndDecorates

[2017-09-26 17:40] dneto0 commented on #838
Agreed. Deprioritized to the lowest level, and added a "Maybe" in the title.

[2017-09-26 19:49] greg-lunarg commented on #760
Can be closed as of #762

[2017-09-26 19:51] greg-lunarg commented on #743
Actively implementing.

[2017-09-26 21:17] dneto0 commented on #703
Fixed by #819

[2017-09-26 21:17] #703 closed

[2017-09-26 21:51] dneto0 commented on #839
Fixed by https://github.com/KhronosGroup/SPIRV-Tools/pull/822

[2017-09-26 21:51] #839 closed

[2017-09-26 21:51] dneto0 commented on #840
Fixed by #831

[2017-09-26 21:51] #840 closed

[2017-09-26 22:05] dneto0 commented on #827
I'm taking this.

[2017-09-26 22:07] dneto0 commented on #827
At least I've made a test:  See https://github.com/dneto0/SPIRV-Tools/tree/fix-827

[2017-09-27 12:34] dneto0 commented on #827
And the fix is up for review.

[2017-09-27 15:41] dneto0 opened #843 "Validate OpBitCount ResultType component bit width. Ensure they are wide enough to hold width of base as an unsigned value."
Fix the TODO in https://github.com/KhronosGroup/SPIRV-Tools/blob/master/source/validate_bitwise.cpp#L239

[2017-09-27 15:44] #837 closed

[2017-09-27 22:01] #827 closed

[2017-09-28 10:32] jcaraban commented on #843
How can we possibly create a failing test for this requirement, if even the smallest unsigned integer (u8 = [0,256]) can always hold the width of the largest integer (64b < 256) ?

[2017-09-28 13:48] willkirkby opened #845 "Invalid memory access in the Aggressive DCE"
I've run into a crash in the Aggressive DCE Pass of the optimizer.
The minimal repro code below trips an invalid memory access.

I've found that making any of the following changes to the input HLSL will not reproduce the crash:
* Removing the ``if (false)``, or replacing it with ``if (true)``
* Turning ``b`` into a ``float2`` to match ``a``
* Removing the conditional inside ``func``
* Removing th

[2017-09-28 14:10] dneto0 opened #846 "DefUseManager does not scale well on large modules"
Analyzing a module with thousands of instructions is very slow.
E.g. see AppVeyor failures in #693 where it's taking more than 15 minutes to analyze a module with 65K instructions.

Manually sampling shows the slowness is in DefUseManager::AnalyzeDefUse, in AnalyzeInstDef -> CLearInst -> EraseUseRecordsOfOperandIds and thereabouts.

[2017-09-28 14:32] dneto0 commented on #846
FYI @s-perron for your consideration.   :-)

[2017-09-28 15:24] dneto0 commented on #846
Tiny progress with #848, getting 3x speed up on a module with ~65K instructions, on Windows debug build.

[2017-09-28 16:42] s-perron commented on #846
The long running test is:

17 - spirv-tools-test_link_global_values_amount (Timeout)

[2017-09-28 19:04] dneto0 commented on #845
Thanks for the good bug report.

@greg-lunarg can you take a look?

[2017-09-28 19:07] dneto0 commented on #843
Aw dang.   SPIR-V can be used with arbitrary bit widths.
But the validation rules say you *only* get certain bit widths unless you enable more by capabilities. And we don't have a capability for any larger than 64 bits.

So you're right, there's no use implementing the check right now.  :-(
Can you remove the TODO?  :-)

[2017-09-28 19:08] dneto0 commented on #770
Suggest for @jcaraban.  Intel could have been helped by this check.

[2017-09-28 19:48] danginsburg opened #850 "spriv-opt producing invalid SPIR-V for shader (crashing two drivers tested on)"
The attached zip file contains three SPIR-V fragment shaders that demonstrate spirv-opt producing invalid SPIR-V.  Unfortunately, the SPIR-V does not fail spirv-val, but it has crashed on two different drivers.  Kerch Holt looked at the SPIR-V and determined there was a problem.  Specifically:

The shaders attached to the bug are:

* generic_vfx_ps_1.spv - this is the SPIR-V that comes out of the

[2017-09-28 22:37] kholtnv commented on #850
The above SPIRV snippet isn't the actual problem (Thanks to Greg F. for pointing that out).
The problem is that the "break" in a switch is interpreted as a "break" from the outer loop instead:
[code]

[2017-09-28 23:21] kholtnv commented on #850
Not sure from reading 2.11: Structured Control Flow in SPIRV if this is ill-formed. However, it seems it wouldn't be really possible to even generate using GLSL.  For example, a "break" inside a "switch" would always be interpreted as breaking out of the switch and not an enclosing loop.

[2017-09-29 15:40] greg-lunarg commented on #850
(from our private thread)

The OpBranchCondiational %false ... hints to me that in the pre-optimized SPIR-V this switch contained "return" instructions. When we inline such functions, we put it in a loop with the OpBranchCondiational %false ...as the backedge and replace all the "return" instructions with branches to the merge block of the created loop.

Again, like the "break" from the "then" blo

[2017-09-29 17:09] dneto0 commented on #850
I agree with Greg.  This is what the inliner has to do when inlining a function that has multiple returns inside a selection construct.   I believe it's valid code.  Details below.

General note on debugging control flow issues:  spirv-cfg is really useful for seeing the control flow graph.

The CFG for generic.vfx_ps_1.spvopt_spvremapper.spv is:

![r](https://user-images.githubusercontent.com/130

[2017-09-29 17:20] dneto0 commented on #850
Incidentally, I also verified the OpPhi instructions in block 20205, and it looks right.

Here's a smaller test case showing what's going on:

[code]
Compiles directly to:
[code]
Control flow graph:

![f](https://user-images.githubusercontent.com/13054574/31027554-883b3c0e-a518-11e7-80de-933472aa257c.png)

Running spirv-opt --inline-entry-points-exhaustive --eliminate-dead-functions on it yields:

[2017-09-29 17:50] dneto0 commented on #850
I checked, and I believe the Vulkan CTS does not cover this case.

It ought to be covered in createLoopTests:  https://github.com/KhronosGroup/VK-GL-CTS/blob/master/external/vulkancts/modules/vulkan/spirv_assembly/vktSpvAsmInstructionTests.cpp#L6575

[2017-09-29 19:32] dneto0 commented on #843
Resolved by https://github.com/KhronosGroup/SPIRV-Tools/pull/851

[2017-09-29 19:32] #843 closed

[2017-09-29 20:51] dneto0 commented on #850
@danginsburg : More to the point, to work around this problem it would be sufficient if your helper functions avoid returning from within a selection construct.

The inliner is (currently) unable to inline a function that returns from inside a loop construct.
https://github.com/KhronosGroup/SPIRV-Tools/blob/master/source/opt/inline_pass.cpp#L658
We haven't yet taught the optimizer how to transform

[2017-09-30 08:31] jcaraban commented on #770
Do we agree that these two SPIR-V codes should trigger the error? First, the output Position builtin is decorated as input, second, the input FragCoord builtin is decorated as output.
[code]
[code]
Could these minimal tests be shorten more? Do we need any other tests?

[2017-10-02 04:04] jekstrand commented on #850
I just got informed about this via a patch from @BNieuwenhuizen to mesa-dev:

https://lists.freedesktop.org/archives/mesa-dev/2017-October/171254.html

I think I'm fine with allowing loop breaks inside a switch even if it isn't something that's allowed in the source language.  However, we really need tests and this is probably something SPIR-V opt should avoid for now since there are no CTS tests

[2017-10-02 11:54] danginsburg commented on #850
Confirmed @BNieuwenhuizen patch to mesa fixes the crash on RADV and renders correctly.  I tested the shader on on AMD GPUPRO and it worked fine.  So looks like NVIDIA is the last one crashing.  Agreed about need for a conformance test.

[2017-10-02 19:17] danginsburg commented on #850
I thought it was also worth tracking down the HLSL code that was the root of the problem.  It seems to me there might be a better code generation pattern we should maybe pursue.

So a snippet of the actual HLSL that causes the problem:
[code]
If I replace SampleWeightBasedUponDistancesToSamplePointsInTexels with the return outside the case statements then it no longer crashes on NVIDIA:
[code]
I w

[2017-10-02 20:21] greg-lunarg commented on #850
Thanks Dan.

Just a quick technical observation: I think you want a "break" after each case in your rewrite to better reflect the original logic, but I think even then you would see the NV crash go away.

I think having spirv-opt (or glslang or some other post-processor) do the rewrite you did would be possible, but it would start getting more complicated the more general we made it, for example,

[2017-10-02 21:50] greg-lunarg commented on #850
Small correction: constant folding is not required here. Just expanding dead branch to deal with constant switch and trivial loop elimination.

[2017-10-02 23:34] greg-lunarg commented on #850
Another small correction: we really don't need to get rid of the loop (although it would be nice). Since the problem is breaking out of a loop from switch, eliminating the switch should be sufficient.

[2017-10-03 11:55] cheery commented on #149
I stumbled upon this as well when testing SPIRV-tools on big-endian output from my SPIRV encoder/decoder.

Also, when passing it to the Vulkan, it seems that the endian in the input has to match with the system's endian.

I suppose it's a rare feature that you have a big-endian platform with Vulkan?

[2017-10-03 13:39] danginsburg opened #855 "spirv-tools does not build with gcc 4.8 (default for steam-runtime)"
I get several instances of the following internal compiler error attempting to build spirv-tools with gcc 4.8:

[code]

gcc-4.8 is currently the default compiler for steam-runtime (https://github.com/ValveSoftware/steam-runtime)

[2017-10-04 18:45] dneto0 commented on #855
Sending to @AWoloszyn who wrote the hex_float support.   I believe he already worked around several other compiler issues.

[2017-10-04 18:48] dneto0 commented on #855
Hi @danginsburg can you be more specific on which gcc you're using?  The steam-runtime page isn't quite specific enough to differentiate for me.

My default is:
$ gcc --version
gcc (Ubuntu 4.8.4-2ubuntu1~14.04.3) 4.8.4
$ gcc-4.8 --version
gcc-4.8 (Ubuntu 4.8.4-2ubuntu1~14.04.3) 4.8.4

[2017-10-04 18:49] danginsburg commented on #855
(steamrt_scout_amd64)~$ gcc --version
gcc (Ubuntu 4.8.1-2ubuntu1~12.04+steamrt2+srt1) 4.8.1

[2017-10-04 19:12] greg-lunarg commented on #855
FWIW, I now have a spirv-tools branch with a new option SPIRV_OPT_ONLY which disables building of all parts of spirv-tools not needed by glslang. This essentially disables building of all pieces of spirv-tools which needs hex_float.h.

While the main goal was to disable instantiation of hex_float.h to workaround this problem, this does have the additional benefit of decreasing the size and build t

[2017-10-04 19:19] dneto0 commented on #846
@s-perron is planning a refactor of the ir::Instruction class that will move responsibility of use-to-def mapping out of DefUseManager.  What remains is the def-to-use mapping, and that's the slow bit: it's based on std::list and scales very badly when there are many uses.  (E.g. think of 10K instructions resulting in uint result; then the uint type has 10K uses, and each lookup is linear time.)

[2017-10-04 19:21] dneto0 commented on #846
I haven't analyzed the unit tests for DefUseManager, but those would have to adjust in any case.

[2017-10-04 19:22] dneto0 commented on #846
Cc @greg-lunarg : I expect this scalability problem is a key driver of the slowness in your use cases.  When  we get to thousands of instructions per module, the DefUseManager blows up somewhat.

[2017-10-04 19:28] greg-lunarg commented on #855
I will let @AWoloszyn weigh in on the difficulty of fixing hex_float.h with gcc 4.8. I will keep the SPIRV_OPT_ONLY branch as an option if it turns out it is the best solution for DanG.

[2017-10-04 19:31] greg-lunarg commented on #846
Does the 65K module come from an OGL or OCL shader?

[2017-10-04 19:36] AWoloszyn commented on #855
I will take another stab at trying to work around bugs in GCC. Unfortunately as I change this, sometimes it causes other issues to arise in other compilers.

Glslang hacks around this, but has to disable some compiler warnings in order for it to build "cleanly" which is what this was trying to avoid in the first place. I will see if there is some other formulation that satisfies the different comp

[2017-10-04 19:42] dneto0 commented on #846
It was a test case for the linker.  https://github.com/KhronosGroup/SPIRV-Tools/pull/693
So it's artificial, and as bad a case as you can get.
But I think if you're getting a few thousand instructions in a module then you'll start seeing some basic types being used many many times.  So it slows down but is at the annoying level rather than catastrophic.  But then you're also running 15 or so passe

[2017-10-04 20:37] greg-lunarg commented on #846
I think the reforms you have outlined sound like a good start.

[2017-10-04 20:47] atgoo commented on #846
What about this monstrosity:
unordered_multimap < def_inst , multimap<<use_opcode, use_inst>, operand_index> >
It allows to
- iterate over all uses as before
- iterate over all uses with a specific opcode
- delete instruction use in logarithmic time

[2017-10-04 21:35] dneto0 commented on #846
unordered_multimap < def_inst , multimap<<use_opcode, use_inst>, operand_index> >

Yes, that would also work.  I was trying to stay away from too many containers, since I want to avoid space overhead and allocator work overhead.

When destroying an instruction you already have to update each user (e.g. via ReplaceAllUsesWith), so there's already a step that is linear in the number of users.  Using

[2017-10-04 21:42] atgoo commented on #846
Yes, the key is (opcode, 0) for the lower bound of all uses with the opcode.

Then I talk about deletion of instruction I mean the deletion of the user, not the definition. That doesn't need to be linear, but currently probably is (you need to find the right Use entry in the list and delete it).

[2017-10-04 21:51] dneto0 commented on #855
That's a reasonable option name.

I've been musing about how to refactor SPIRV-Tools code into layers that let you just get the bits you want.  This is one instance.   But I haven't written down a plan for that (and don't have the staff either, soo...)

[2017-10-04 22:09] dneto0 commented on #846
Right.  In my scheme deleting a user is num-distinct-used-ids * log(num instructions)

[2017-10-05 14:16] dneto0 commented on #850
Good discussion.

It turns out that I can generate the "bad" control flow graph with plain GLSL. Let's revisit the small example from my comment https://github.com/KhronosGroup/SPIRV-Tools/issues/850#issuecomment-333186062
But instead of escaping the switch construct with a return, I can equally escape it with a "continue":

[code]
That produces:
[code]
with CFG:
![x](https://user-images.githubuse

[2017-10-05 14:19] dneto0 opened #857 "Add merge-return pass"
Transform each  reachable function so that:
- it has at most one basic block with an OpReturn or OpReturnValue
- that basic block post-dominates all reachable blocks (modulo those ending with OpKill)

Expose a general purpose helper function that does this transform on a single SPIR-V function.

Motivated by https://github.com/KhronosGroup/SPIRV-Tools/issues/850

[2017-10-05 14:19] dneto0 commented on #850
I filed #857 for making a merge-return pass

[2017-10-05 16:18] greg-lunarg commented on #850
I am currently adapting dead-branch-elimination to handle switches with constant switch values.

I realize this doesn't fix the more general problem of returns in switches. For example, it would not help if the switch value here is not constant.

But beefing up dead-branch-elimination will fix this issue and is probably the shortest path to doing so. It will also be useful going forward as part of

[2017-10-05 18:49] danginsburg opened #859 "Tool request for SPIR-V reflector"
It would be useful to be able to get SPIR-V reflection information analogous to glslang reflection, but after optimization.  For example, having it on the SPIR-V would solve problems where glslang reflection reports a  texture active, but it then gets dead code eliminated and removed in a spirv-opt pass.

The reflection interface in glslang is here: https://github.com/KhronosGroup/glslang/blob/2c9

[2017-10-05 19:01] dneto0 commented on #859
I wrote some prototype code to scan an entry point's static call graph get info bout resources that entry point used.

* It extracts the Vulkan descriptor set and binding for each resource.
* It does not handle decoration groups
* The source-level name of a resource is not necessarily available.  Debug instructions could have been stripped.
* It is written to depend only on the binary parser callb

[2017-10-06 04:00] s-perron commented on #833
Yes making sure that unused types, variables, and constants will be part of the we are planning.  Given the way that these are represented, I think it should be part of the unified dead code elimination work we have discussed.

[2017-10-06 04:03] s-perron opened #862 "Redesign the Instruction class"
# Proposal for the in-memory handling of instructions

## Explanation

In the redesign of the Instruction class, we want to make sure that a single instruction contains all of the information needed to do the most common tasks so that they can be accomplished by a call to a member function that does the task.  The tasks we are considering right now are:

1.  Inserting a new instruction next to (be

[2017-10-06 04:16] s-perron commented on #862
To implement this task we should split it into the follow stages:

- [ ] Implement the InstructionList class, and create unit test for it.
- [ ] Change the vectors of instructions to InstructionLists, adding functionality to InstructionList as needed.
- [ ] Add the resultId-to-instruction map to the Module, and make sure that operations on instructions keep it up to date.
- [ ] Implement and test

[2017-10-06 12:52] dnovillo commented on #833
And, as I learned yesterday, names must be part of this too.  When a named
label is removed, for instance, its OpName must be removed or the code will
not validate.

David, does this happen to any other name too?

On Fri, Oct 6, 2017 at 4:00 AM, Steven Perron <notifications@github.com>
wrote:

[2017-10-06 14:39] dneto0 commented on #855
Fixed by #858
Please reopen if that does not work for you.

[2017-10-06 14:39] #855 closed

[2017-10-06 22:44] dneto0 commented on #768
#693 has been merged.  It's usable now.  It has a few things to address but was better to merge now as "under development".

I'll keep this open until my "required feedback" is addressed.

[2017-10-06 22:51] dneto0 commented on #814
#693 split debug instructions into debug1 and debug2.
What's left is to split out OpModuleProcessed, but that's covered by #813.

So I'll close this, with credit to @pierremoreau

[2017-10-06 22:51] #814 closed

[2017-10-07 17:32] cwabbott0 commented on #857
Btw, we already have a pass to do this in Mesa: https://cgit.freedesktop.org/mesa/mesa/tree/src/compiler/nir/nir_lower_returns.c -- feel free to steal the algorithm!

Note that what it's doing is more complicated than just wrapping the entire thing in a loop, and should generate better code in most cases, at least on Intel.

[2017-10-09 23:17] greg-lunarg commented on #850
PR #863 submitted for consideration.

[2017-10-10 12:04] SWIFTingAround opened #864 "cmake_policy CMP0048"
When including this Project as subdirectory, cmake pushes a warning about the [CMP0048 Policy](https://cmake.org/cmake/help/latest/policy/CMP0048.html). This would be fixed when adding
[code]
after `cmake_minimum_required(VERSION 2.8.12)`.

[2017-10-10 13:53] s-perron commented on #862
Wrote the base for the InstructionList class in https://github.com/KhronosGroup/SPIRV-Tools/pull/866

[2017-10-10 14:13] dneto0 commented on #864
Agree.
Basically, the CMake project directive now has the option to set version.
Since SPIRV-Tools does not set it, CMake issues a warning.

[2017-10-10 14:22] #864 closed

[2017-10-10 20:12] dneto0 commented on #770
The Position builtin can be Output or Input depending on the shader stage (execution model).

[2017-10-10 20:16] dneto0 commented on #770
Yes, the Vulkan env spec for SPIR-V says FragCoord must be Input storage class.

All these storage class rules depend upon the target environment.

Essentially yes.  Your WIP MR #867 already is doing that.

Your MR put them in their own set of tests, and that's a good choice. They will be easier to find and maintain.

[2017-10-11 16:07] atgoo commented on #576
Done in https://github.com/KhronosGroup/SPIRV-Tools/pull/573

[2017-10-11 16:07] #576 closed

[2017-10-11 16:09] atgoo commented on #575
Done in https://github.com/KhronosGroup/SPIRV-Tools/pull/582

[2017-10-11 16:09] #575 closed

[2017-10-11 16:10] #572 closed

[2017-10-12 10:50] jozefkucia opened #870 "spirv-val: Validate function layout - function variables"
It would be nice if the validator could check if `Function` variables are correctly placed in the first block of the function. The SPIR-V spec states:

[2017-10-12 15:02] dneto0 opened #871 "Add Travis config to check the Android build"
#861 adds an Android.mk to SPIRV-Tools.
So now the Travis-CI check should check the Android build.  That's the best way ensure it continues to work.
E.g. look to google/shaderc for an example of doing this.

[2017-10-12 15:46] dneto0 opened #872 "Move dead code removal out of DeadBranchElim."
Blocked on:
-  cfg-cleanup pass is merged
- LunarG's size-reduction whitepaper is updated
- Glslang and Shaderc opt pass list is updated with cfg-cleanup

[2017-10-12 16:03] dneto0 commented on #850
#863 has been merged

I believe that should fix this particular case of the troublesome CFG pattern.

I re-ran the sequence of passes you listed (except spirv-remap, and adding --eliminate-dead-functions just for clarity), and the resulting control flow graph is:

![foo](https://user-images.githubusercontent.com/13054574/31506224-d4c5fefc-af44-11e7-8eda-7f773aaaa36a.png)

The corresponding area is

[2017-10-12 16:03] #850 closed

[2017-10-12 18:25] dneto0 opened #876 "OpReturnValue result type is the same as function return type"

[2017-10-12 19:20] dneto0 commented on #876
I'm claiming this.

[2017-10-12 19:45] atgoo commented on #876
Is this not checked by IdPass? It seems to be doing a bit of everything.

[2017-10-12 20:16] dneto0 commented on #876
Yes, it's already checked.  I added a test in #877

[2017-10-12 21:23] dneto0 commented on #871
Right.  The Shaderc BUILD_NDK is building Shaderc using the same toolchain that the Android NDK build uses.  It's not checking the ndk-build flow.  :-(

[2017-10-12 21:25] dneto0 commented on #871
I think @antiagainst experimented with downloading the NDK to check this kind of thing.  But that's very heavyweight and possibly not worth the trouble.  I always check those flows whenever refreshing the Shaderc sources in the NDK itself.   So perhaps this is not worth it.

I'd like @antiagainst to confirm my memory here.

[2017-10-12 21:42] antiagainst commented on #871
Yes, we do a fresh check out of Android NDK from https://github.com/urho3d/android-ndk (the repo is specifically for Travis CI use as per its description) for each build. It's heavyweight, but seems working reasonably well. Travis CI glitches we've encountered thus far are basically for macOS. No cases are related to downloading Android NDK that I can remember. And if you check the threads for a b

[2017-10-12 21:43] antiagainst commented on #871
But we are testing the CMake configuration for Android essentially for both glslang & shaderc, not Android.mk.

[2017-10-12 22:08] greg-lunarg commented on #845
Very sorry! Somehow this escaped my attention. Will look at it now.

[2017-10-12 23:24] greg-lunarg opened #878 "Opt: Need empty control flow removal"
The current aggressive dead code elimination does not get rid of empty control flow ie control flow headers and structures which are "empty" ie do not contain code which contributes to the externally facing results of the function. The most simple example of this is an OpBranchConditional where both true and false branches branch to blocks which are empty and branch directly to the merge block.

E

[2017-10-13 00:56] s-perron commented on #878
I have a suggestion on how to make the implementation a bit simpler.  We could get a pass called "Branch Improvements", where we look for ways if simplifying the CFG.  One of those would be, if you have a branch to an empty block, then change it to branch to the successor of the empty block.  Empty here means no code in the block except for a label, NOPs and an unconditional branch.

Then if you h

[2017-10-13 01:36] greg-lunarg commented on #878
You have some good ideas and I appreciate your review.

I thought of something similar, but it was the cycling with ADCE that I wanted to avoid. That is because we would potentially need to cycle on the order of the nesting of the empty control structures.

Right now we don't have any nice way to query pass results and do conditional execution of passes, at least at the command interface, and I th

[2017-10-13 01:48] dnovillo commented on #878
I've been thinking that we may want to move all these CFG cleaners into the
CFG cleanup pass I've been working on. Let dce and friends leave all the
control flow intact and have all the straightening and rearranging in one
spot.

On Oct 12, 2017 21:36, "greg-lunarg" <notifications@github.com> wrote:

[2017-10-13 02:08] greg-lunarg commented on #878
Yes. Once it's out there, we will have to start using it (and retro-fit dead-branch-elim, etc.)

[2017-10-13 15:42] jozefkucia commented on #870
This is duplicate of  #486. Closing.

[2017-10-13 15:42] #870 closed

[2017-10-13 16:31] greg-lunarg commented on #845
A little confused...I am not seeing a CreateInlinePass() in master. I will presume you meant CreateInlineExhaustivePass().

[2017-10-13 17:15] greg-lunarg commented on #845
Could you please give the commit id of spirv-tools at which you saw this problem? Or could you confirm you are still seeing the problem at the following commit id. I am not seeing it on Windows at 8de8dd8c8c69b5efb24e974e88df0d3b3f3e24d9.

[2017-10-13 17:29] greg-lunarg commented on #845
Also, if you haven't seen it, there is now a white paper that talks about how to use spirv-tools for size reduction. It is at: https://www.lunarg.com/wp-content/uploads/2017/08/SPIR-V-Shader-Size-Reduction-Using-spirv-opt_v1.0.pdf

[2017-10-13 17:40] greg-lunarg commented on #845
There are also now -O and -Os options to spirv-opt to optimize for performance and size, respectively. From the programmatic interface you are using, those would be RegisterPerformancePasses() and RegisterSizePasses().

[2017-10-13 19:20] #876 closed

[2017-10-14 01:40] s-perron commented on #878
That will be a good idea.  Moving some of this stuff around afterwards will be good.

[2017-10-16 17:35] s-perron commented on #862
The next step is to write the InstructionList class and use it in the basic block class: https://github.com/KhronosGroup/SPIRV-Tools/pull/879.

[2017-10-16 23:28] dneto0 opened #882 "Disassembler rounds float constants that are near-to-1 up to 1"
Example, a float value of 0x1.fffffep-1 is very nearly 1 but is not 1.
It should be displayed in a bit-preserving way, but instead is rounded up to 1.

So we get
  OpConstant %float 1

when we should have had
   OpConstant %float 0x1.fffffep-1

[2017-10-17 09:33] jcaraban commented on #660
@dneto0, I think I can handle this issue.

Shall the verification happen at parsing/operand level, before the call to ProcessInstruction( )?
Since multiple instructions use literals, one single check somewhere in Parser::parseOperand( ) will be easier than individual validations for all those instructions with literals, right?
Does this issue apply to SPV_OPERAND_TYPE_TYPED_LITERAL_NUMBER only?

I

[2017-10-17 21:48] dneto0 commented on #488
@atgoo I think you already added these checks and they are turned on.  Can you confirm?  If so, then we should close this and move it to the "Done" column in the Validator project.

(Although there is a variation when VariablePointers is active, in which case pointer types can have same operands since they can be decorated different.)

[2017-10-17 21:49] dneto0 commented on #488
Same as #559 ?

[2017-10-18 16:29] redorav commented on #735
Hi @greg-lunarg, I'm still running into this issue after implementing this sequence of steps. I have latest SPIRVTools, and the samesequence of passes as described in your previous message. I have investigated one of our shaders and been able to come up with a relatively simple repro case.

Once you see the SPIRV, I have a couple of questions. The first one is why does SPIRV create this chain of c

[2017-10-18 20:27] greg-lunarg commented on #735
We are currently in the process of implementing constant folding, which along with --eliminate-dead-branches would eliminate the the conditional code which, as you noticed, would allow propagation of the value of interest and elimination of the remaining dead code. I could make a fairly simple version of this available fairly soon.

Are most/all of your conditionals compile-time constants?

[2017-10-18 20:52] redorav commented on #735
Many of them are compile-time constants to avoid polluting the code with defines and they would indeed benefit from what you describe. However, if I was to make that depend on a variable coming from a constant buffer, I would again have the same problem.

I guess one part of my question is more why, even in the absence of constant folding, the following code

[code]

hasn't become

[code]

[2017-10-18 21:20] greg-lunarg commented on #735
I am presuming you are using spirv-cross?

Unfortunately, spirv-cross doesn't have the sophistication yet to generate the more efficient version you are looking for. The tool is designed more to "quickly" express SPIR-V in glsl, and not as much to generate efficient glsl. It does seem that the sequence you are looking for can easily be generated from the SPIR-V, but in actuality you are applying k

[2017-10-18 21:42] redorav commented on #735
Ah, I see, I am indeed using spirv-cross.

`It does seem that the sequence you are looking for can easily be generated from the SPIR-V`

I unfortunately don't know enough spirv to assess that myself, but perhaps one thing I can do is write a bug report to the spirv-cross team to see whether this is a feasible thing to do. I wouldn't normally be making too big a fuss about it, but I have measured o

[2017-10-19 08:35] HansKristian-ARM commented on #735
At least for SPIRV-Cross using OpPhi on full structs is quite problematic. I expect this to be rather awkward for drivers to optimize as well. I would expect something more like selecting a member value with OpPhi, then insert the member rather than relying on the optimizer to deduce that all other members are the same.

CompositeInsert is also not easy to express well in GLSL because it's an impl

[2017-10-19 16:46] dnovillo opened #889 "Implement Sparse Conditional Constant Propagation (SSA-CCP)"
This will implement the algorithm proposed in https://dl.acm.org/citation.cfm?id=103136.  This implementation has several pre-requisites:

- [x] Phi placement.  Although there is an implementation of Phi placement in local_ssa_elim_pass.cpp, it assumes structured control flow.  A more generalized form of Phi placement (i.e., pruned SSA form) may be required.
- [x] CFG edges.  Needed for the simula

[2017-10-19 20:10] dnovillo opened #893 "Extend Phi placement to support unstructured control flow"
This is a pre-requisite for #889.  There exists an implementation for Phi placement in https://github.com/KhronosGroup/SPIRV-Tools/blob/master/source/opt/local_ssa_elim_pass.cpp#L410.  However, that implementation is limited to structured control flow input.

To compute the minimal or pruned SSA form needed to insert Phi instructions, implement the algorithms referenced in https://en.wikipedia.org

[2017-10-19 20:33] dnovillo opened #894 "Add CFG edge data structure"
This is a pre-requisite for #889.  SSA-CCP traverses CFG edges to simulate execution and predicate evaluation.  This requires def-use edges (provided by the def-use manager) and CFG edges (currently built ad-hoc by passes that need them).

The work needed here would mostly re-factor the creation of CFG edges.

[2017-10-19 20:39] dnovillo opened #895 "Implement a propagation engine"
This is related to #889.  It's not a strict pre-requisite, but the code that does the simulation of execution and evaluation of constant propagation, can be re-factored into a generic propagation engine that can be used in other propagation-based transformations (e.g., value range propagation - http://www.lighterra.com/papers/valuerangeprop/Patterson1995-ValueRangeProp.pdf and copy propagation).

[2017-10-19 20:45] dnovillo opened #896 "Extend constant folding to do arithmetic simplifications"
This is a pre-requisite for #889.

Currently, a constant folding library exists for integer types (https://github.com/KhronosGroup/SPIRV-Tools/blob/master/source/opt/fold.cpp).  This will need to be extended to fold floating point expressions and other simplifications (e.g., %21 - %21 folds to 0 for any integer result ID).

With the current implementation, we can get some of the required behaviour

[2017-10-19 20:47] #559 closed

[2017-10-19 20:49] dnovillo commented on #702
Fixed with #810.

[2017-10-19 20:49] #702 closed

[2017-10-20 09:31] ratchetfreak commented on #893
There are other ways of placing phi nodes.

Start from the function entry point and give each variable a id (which will be all of them). and add the basic block to the set O.

In every basic block except the first for each variable you get a new intermidiate ID and add a zero-source opPhi for linked to each variable.

Every store is replaced with a OpCopyObject with the same source and new ID, the

[2017-10-20 11:41] dnovillo commented on #893
Sure.  Any advantages over the traditional pruned or minimal SSA form?

[2017-10-20 14:35] dneto0 opened #898 "Linker: Incorrect handling of removal of FuncParamAttr when that is a grouped decoration"
RemoveLinkageSpecificInstructions has this code:
[code]

This does the wrong thing if the FuncParamAttr is on a grouped decoration, and that grouped decoration applies to other IDs.

E.g.
   OpDecorate %group FuncParamAttr
   %group = OpDecorationGroup
   OpGroupDecorate %group  %a %b %c

If the above code is triggered on id %a, then it will change the OpDecorate to an OpNop and lose the effect of

[2017-10-20 14:37] dneto0 opened #899 "Remove the non-const overload of DecorationManager::GetDecorationsFor"
This would help avoid issues such as #898

[2017-10-20 15:21] danginsburg commented on #850
Just wanted to confirm that #863 fixed the crash for this case on NVIDIA.  Thanks all.

[2017-10-20 16:41] atgoo opened #900 "Validator pass for OpImageXXX instructions"
Implement validator pass for all OpImage opcodes, similar to
source/validate_arithmetics.cpp.

[2017-10-20 17:09] gfxguymatt opened #901 "Opt: Add pass to optimize OpVariable Input/Output across stages"
After other optimizations have occurred it's often the case that the output from one stage isn't actually used in any subsequent stages. Another side effect is that the input stage may access shader resources (UBO/Samplers) to produce output that is unused. This results in validation warnings during run-time that often do not cause real errors on the target Vulkan device due to internal optimizati

[2017-10-20 18:04] dneto0 opened #902 "Check types for UConvert."
Blocked by Vulkan CTS removing invalid tests.
See Khronos internal issue https://gitlab.khronos.org/Tracker/vk-gl-cts/issues/720 for removal of the offending tests.  See https://gerrit.khronos.org/#/c/1821

We need to wait until test updates are propagated to all live CTS branches

[2017-10-20 18:04] dneto0 commented on #902
Cc @atgoo

[2017-10-20 18:23] danginsburg opened #903 "spirv-opt: New crash at glslang known_good spirv-opt with previously working SPIR-V shader"
I am using spirv-tools to commit 99cd25c4139e0dc914ab8a5a3b75e6fed0ad1329 marked in known_good.json in glslang repository.

The attached shader crashes in spirv-opt with the following callstack:

[code]
This can reproduced from the command-line using the following command:

[code]

The previous known good in glslang did not have this crash.  I suspect due to the location of the crash that it may b

[2017-10-20 19:04] greg-lunarg commented on #903
Claiming it.

[2017-10-20 19:26] dneto0 commented on #903
Thanks.  I'll watch for a PR.

[2017-10-20 20:43] dnovillo opened #906 "Unify all the DCE passes into a single pass"
spirv-opt has more than a handful of DCE (Dead Code Elimination) passes.  This makes it difficult to use and potentially slow, as every little pass implies a new IR scan.

We should aggregate all these passes into a single DCE pass that handles all the various cases.

[2017-10-20 20:44] dneto0 commented on #872
Also #906

[2017-10-20 21:42] pierremoreau commented on #898
Oops, my bad… that is completely wrong indeed. I am not entirely sure how this should be handle in this case: should the `DecorationManager` be extended to allow removing a specific decoration from an ID, or have some custom code in `RemoveLinkageSpecificInstructions`?

[2017-10-20 22:12] dneto0 commented on #813
See #908

[2017-10-20 22:52] greg-lunarg commented on #903
PR #883 fixes this problem. I have pushed a fix for the only problem that was noted to this point.

I know this PR fixes what ultimately will be dead code, but I would rather switch over to the cfg cleanup code in a more orderly manner and not in answer to a bug.

[2017-10-21 02:35] antiagainst opened #909 "Better handling of static const function variables in spv*TableGet()"
We have a bunch of static const function variables to represent various bits of the SPIR-V grammar. It contains non-POD fields, which causes problems with custom memory allocators: https://github.com/Microsoft/DirectXShaderCompiler/issues/725. Need to figure out a better way of handling them, e.g., using non-const global pointer, changing everything to POD, etc.

[2017-10-21 14:29] jcaraban commented on #616
Seems to me, this issue requires a new OpDecorationGroup case in validation_id.cpp.
I will write ``bool idUsage::isValid<SpvOpDecorationGroup>( )`` and its corresponding tests.
anything else needed @dneto0 ?

[2017-10-21 16:13] dneto0 commented on #898
No problem.  I missed it on code reviews. :-)

Good question on how to handle it.  Normally I'd say add a method to the decoration manager.  HOWEVER, updating instructions often involves updating bookkeeping in several different places.
For example, removing the group decoration from an ID should also update any life DefUseManagers.  But you don't want to couple everything to everything.

You also

[2017-10-22 14:20] jcaraban commented on #487
I see two possible interpretations.

1. For every OpTypeImage, walk the uses and ensure they are one of compatible types.
This logic could go in ``isValid<OpTypeImage>`` in validate_id.cpp, or somewhere else?
2. For every opcode accepting an OpTypeImage operand, ensure the type matches.
This logic would definitely go in validate_id.cpp, as I see similar code there.

Although they overlap, 1) and 2

[2017-10-22 21:21] pierremoreau commented on #898
I was wondering as well how to keep both manager up-to-date, without connecting them together.

That method doesn’t need to remove groups, a later pass could take care of removing empty groups, but we still need to update the uses, so the callback thing is probably a good idea, at least until there is an “IRContext” or something similar. And that predicate seems to be a really good idea. 🙂

[2017-10-23 14:43] dneto0 opened #911 "optimizer: OpLine and OpNoLine can't fall in debug1, debug2, or debug3 sections"
Found in review of #908 by @antiagainst

Should fix the definition of IsDebug1Inst and IsDebug2Inst functions

[2017-10-23 15:53] ratchetfreak commented on #893
Biggest advantage is that it can be implemented as a series of simple passes each being able to be verified for correctness. (if you make a few changes like instead of opStore being replaced have the OpCopyObject being inserted next to it). Copy and single-source opPhi propagation being useful passes in and of themselves though.

Biggest disadvantage is that it is multiple passes that each depend

[2017-10-23 19:49] danginsburg commented on #903
If possible, please merge PR #883 to master.  @greg-lunarg believes he has addressed the concerns from code review and this issue is currently causing a crash in our shader compilation workload so is gating us from taking the latest glslang.

[2017-10-23 20:37] redorav commented on #735
Any updates on this @greg-lunarg?

[2017-10-23 20:58] greg-lunarg commented on #735
No. It is next on my stack but I am probably a day or two away yet.

Here is what I am thinking:

While a fully general constant folder would be the best solution, it will take days to implement, test, review, etc. I am thinking a more expedient solution would be hacking dead (conditional) branch elimination to look specifically for k1 == k2 and k1 != k2 where k1 and k2 are integer constants. This

[2017-10-23 21:26] greg-lunarg commented on #878
Status: I have dead if elimination coded up and passing (regression) testing.

The group that needs this also needs dead loop elimination as well. I am beginning that and should have something in a day or two.

[2017-10-23 23:05] greg-lunarg commented on #903
@danginsburg An alternative to waiting for a merge of #883 is to move up to 5834719fc17d4735fce0102738b87b70255cfd5f and add CreateCFGCleanupPass after CreateDeadBranchElimPass. In general, you can leave this in your recipe as it will soon be added to the general recipe. I have a PR in to glslang that makes this commit the latest known good and adds CreateCFGCleanupPass to the recipe for legalizat

[2017-10-24 02:07] dneto0 commented on #903
Fix has been pushed into master as e3a720933046
Sorry for the delay.

I'll close this but please re-open if the same issue arises.

[2017-10-24 02:07] #903 closed

[2017-10-24 14:54] #911 closed

[2017-10-24 15:20] dneto0 commented on #750
Fixed by #881

[2017-10-24 15:20] #750 closed

[2017-10-24 15:21] dneto0 commented on #636
I believe we may have found someone to do this.   Stay tuned.

[2017-10-24 15:34] dneto0 opened #914 "Check ordering constraints related to OpDecorationGroup:"
"All such decoration instructions targeting this OpDecorationGroup instruction must precede it. Subsequent OpGroupDecorate and OpGroupMemberDecorate instructions that consume this instruction’s Result <id> will apply these decorations to their targets."

[2017-10-24 16:12] greg-lunarg commented on #872
I will claim this and propose the following: we push the heart of the cfg cleanup code into MemPass or even Pass and call it from DeadBranchElim as a utility.

This has the benefit of not requiring an update to the current recipes.

I realize this proposal seems to go against the design goals of small, simple, building-block-like optimization passes which users can mix and match as is most efficie

[2017-10-24 16:30] dnovillo commented on #872
On Tue, Oct 24, 2017 at 4:12 PM, greg-lunarg <notifications@github.com>
wrote:

I agree.  While simple, self-contained passes are a good design approach,
the granularity of some of the existing passes seems too fine.  Having
several passes that do some flavour of DCE is probably too fine.  A single
pass should deal with DCE, another pass should deal with CFG cleanups
(straightening, unreachable bl

[2017-10-24 16:33] greg-lunarg commented on #872
To summarize, the benefits of this policy would be:

- Optimizations will not waste time optimizing unreachable code
- Optimizations can be written more simply not having to worry about unreachable code
- Users of spirv-opt don't have to worry about cleaning up unreachable code or knowing when they need to do it, likely avoiding unneeded calls to cfg-cleanup.

[2017-10-24 16:54] danginsburg commented on #903
Confirmed fixed.  Thanks all.

[2017-10-24 18:21] dneto0 opened #917 "Use O(log n) table lookup algorithms for operands."
Similar to https://github.com/KhronosGroup/SPIRV-Tools/projects/2#card-1059120 but for operands.

[2017-10-24 18:21] dneto0 commented on #917
FYI @antiagainst This is one thing I was talking about.

[2017-10-24 18:22] dneto0 commented on #502
cc: @antiagainst

[2017-10-24 18:22] dneto0 commented on #584
I think @antiagainst already did this.  Please confirm and close.

[2017-10-24 18:24] dneto0 opened #918 "Avoid function-private static variables of class type. (Primarily EnumSet inside the tables?)"
This will help DXC

[2017-10-25 01:18] antiagainst commented on #584
Yep, this is done via https://github.com/KhronosGroup/SPIRV-Tools/pull/830.

[2017-10-25 01:18] #584 closed

[2017-10-25 17:05] s-perron commented on #906
I think we should take the algorithm in aggressive dead code elimination and apply it to the entire module, including the code not in functions, at once.  That should be able to remove the global variables, types, constants, etc. that are unused all in one pass.

Because labels and function definitions are instructions with results, removing dead basic-blocks and dead functions could be part of th

[2017-10-25 17:54] greg-lunarg opened #922 "Make InlinePass a MemPass"
This will allow for additional consolidation of code that is currently replicated between these two classes.

[2017-10-25 19:52] antiagainst commented on #918
Done via #920

[2017-10-25 19:52] #918 closed

[2017-10-25 19:52] antiagainst commented on #909
Done via #920

[2017-10-25 19:52] #909 closed

[2017-10-26 14:42] dneto0 commented on #608
cc @s-perron

[2017-10-26 15:15] dneto0 commented on #608
More thoughts:

- I think we should change be more bold and remove the existing Pass::Process(ir::Module) method to Pass::(ir::IRContext) (or whatever the new class name is)
- We now have a real DecorationManager class.
- When we add a types-and-constants pool (or pools), it should be owned by the IRContext
- The IRContext should probably be used as a facade for common operations in such a way as

[2017-10-26 15:16] s-perron commented on #608
I'm going to start working on this.  I'll try to think of a design, and add it to the issue.  If anybody has any requirements besides what has been stated here let me know.  This will be more general than just the def_use manager.  I'll want to create something to keep the use-def chains (separate from def-use), def-use chaings, CFG, decorations manager, etc..

[2017-10-26 15:20] dnovillo commented on #608
Sounds good.  I'm in the middle of refactoring the SSA rewriter into
MemPass (https://github.com/KhronosGroup/SPIRV-Tools/issues/893).  This has
forced me to move up bits that include the def-use manager.  I should be
done later today, but this may interfere with your plans.  The idea is to
leave the def_use_mgr_ field in class Pass for now.  As well as some other
CFG-specific functions (like IsLo

[2017-10-26 17:31] dneto0 commented on #608
Yes, there are other small functions that are a good fit for the "IRContext":   e.g. MergeBlockIdIfAny, ComputeStructredSuccessors, and friends.  See my review https://github.com/KhronosGroup/SPIRV-Tools/pull/916#pullrequestreview-71636624

I agree we should transform the code in small steps.

[2017-10-26 19:21] jcaraban commented on #502
@dneto0 I can attempt this issue if @antiagainst didn't get started already

[2017-10-26 21:31] antiagainst commented on #502
Yep, please feel free to take it. I haven't touched this one yet.

[2017-10-26 21:54] dneto0 opened #924 "eliminate group-decorate-of-group-decorate case in DecorationManager"
We can remove https://github.com/KhronosGroup/SPIRV-Tools/blob/master/source/opt/decoration_manager.cpp#L161 and
https://github.com/KhronosGroup/SPIRV-Tools/blob/master/source/opt/decoration_manager.cpp#L171 cases because in a valid SPIR-V module:

An OpDecorationGroup result-id can't be one of the targets for an OpGroupDecorate or OpGroupMemberDecorate.  An OpDecorationGroup can only be the targe

[2017-10-27 07:29] jcaraban commented on #502
Given that the opcodes are unique, why aren't we using a hash table, to begin with?
We could employ a regular array where the opcode is the index and get O(1).

A problem is the gaps between OpDecorateId=332 and OpFragmentFetchAMD=5012,
which would bloat the executable. But we could use some hybrid approach.
From 0 to ~400, regular array, from ~400 to ~5000, linear or sorted search.

[2017-10-27 14:46] dneto0 commented on #502
We could have two different opcode entries for the same opcode number.  This for the case where we publish a KHR extension that is then later pulled into the core spec.  If the semantics remain the same then we can reuse the opcode number, but still support two different spellings for the instruction.

I forgot constraints
- spvContextCreate should be very cheap.
- The tables should be static POD,

[2017-10-27 15:50] dneto0 commented on #502
About opcode entries with the same opcode number:
- these are definitely the rare case
- I don't want to force uniqueness on opcode number but then cause an indirection to a table of entries corresponding to that one opcode number.   Indirection would cause cache misses (I expect).
- It's much better to have simple (and sometimes repeated) opcode entries.

[2017-10-27 16:52] s-perron commented on #608
# Background

When a compiler optimises code, it often needs to analyze the code to extract extra information.  Some examples are the def-use chains, use-def chains, and control flow graphs.  It is also helpful to organize the code in a way that make it easier to access.  The DecorationManager in spirv-opt is an example of that.

There are several challenges with the current approach:

*   Runtime

[2017-10-27 16:59] s-perron commented on #608
Suggestions already made:

1. Should the analyses be build when accessed instead of before the pass?
     1.  This has the advantage of not building if there is an early exit or if something is only used in a corner case.
      1. Could help us avoid listing things ahead of time, make it less likely there will be a bug because something is used that was not requested.
1. Something might be better

[2017-10-27 19:14] dneto0 opened #928 "IRContext: replace uses of FindNamedOrDecoratedIds with use of the decoration manager that will live inside IRContext"

[2017-10-27 19:16] dneto0 opened #929 "IRContext: Replace ID bound management with methods on IRContext."

[2017-10-30 03:59] s-perron commented on #862
Closed off https://github.com/KhronosGroup/SPIRV-Tools/pull/915, which was part of this issue.

[2017-10-30 04:01] s-perron commented on #862
The next step is to create an IRContext to hold information build on top of the module (https://github.com/KhronosGroup/SPIRV-Tools/issues/608), then I can come back to this to finish up the remaining items.

[2017-10-30 07:50] jcaraban commented on #502
The big cost in the opcode string lookup is the **strlen** in the loop (3rd line).
[code]
Can we precompute the length of the opcode names and store it somewhere?
Would it be a good idea to store the length in the opcode table?

I added the code below to spvOpcodeTableNameLookup, then tested spirv-as,
and times when down from 22ms to 16ms for a large ~250kb shader and -O3.
Now spvOpcodeTableNameLo

[2017-10-30 09:32] ratchetfreak commented on #502
Actually `nameLength == strlen(table->entries[opcodeIndex].name)` doesn't need to be done explicitly once you have the bound for one string and know the other is null terminated, `!strncmp(name, table->entries[opcodeIndex].name, nameLength)` will stop when the first byte is different. That will save an iteration over the opcode name.

[2017-10-30 11:35] jcaraban commented on #502
If you simply remove ``nameLength == strlen(table->entries[opcodeIndex].name`` tests will start to fail.
Without strlen, the call to strncmp will match overlapping names, e.g. ``ConstantTrue`` to ``Constant``

[2017-10-30 12:47] ratchetfreak commented on #502
You can fix that by adding 1 to the length: `!strncmp(name, table->entries[opcodeIndex].name, nameLength+1)`, That way the terminating null is of `name` included in the strcmp.

[2017-10-30 14:14] jcaraban commented on #502
@ratchetfreak true that!
Unfortunately I tried, the compiler now issues *__strncmp_sse42* and times got worse,
from 22ms originally (with strlen) to 30ms for my Intel Skylake i7-6700 and gcc 5.2.1.
The solution where we precompute the opcode name length continues to be faster.

[2017-10-30 14:27] ratchetfreak commented on #502
if we are precomputing length it makes sense to also precompute a hash, (doesn't need to be a perfect hash, just good enough)

That will reduce the amount of calls to strncmp much better than comparing only the strlen.

[code]

[2017-10-31 03:45] s-perron commented on #608
First part is in PR https://github.com/KhronosGroup/SPIRV-Tools/pull/934.

[2017-10-31 20:35] greg-lunarg opened #936 "Capabilities Whitelist"
I think we need to create a Capability white list. Up to now we have been skating by just black-listing Capabilities we can't handle, most notably Addresses (non-logical addressing). But with SPIR-V 1.3 we will start seeing VariablePointers and VariablePointersStorageBuffer as part of core, and these capabilities will be problematic for a number of the spirv-opt passes as they are today.

In the p

[2017-11-01 01:20] ianromanick opened #937 "Add checks for storage layout decorations on Block and BufferBlock decorated structs"
Both Vulkan and GL_ARB_spirv has a requirement like:

    7.6.2.spv SPIR-V Uniform Offsets and Strides

    The SPIR-V decorations *GLSLShared* or *GLSLPacked* must not be used. A
    variable in the *Uniform* Storage Class decorated as a *Block* must be
    explicitly laid out using the *Offset*, *ArrayStride*, and *MatrixStride*
    decorations. If the variable is decorated as a *BufferBlock*, i

[2017-11-01 22:46] nsubtil commented on #900
@atgoo, are you actively working on this? This is next on my list, if you haven't started yet I can probably take it.

[2017-11-02 00:07] nsubtil commented on #616
@jcaraban @dneto0 can we close this issue now? Or is there still work left to do?

[2017-11-02 06:53] jcaraban commented on #616
@dneto0 accepted the MR, so I think we can close.

[2017-11-02 14:27] atgoo commented on #900
I am working on this. Will post a pull request within a few days.

[2017-11-02 14:32] dnovillo opened #939 "Unify all the implementations of HasOnlySupportedRefs()"
I have been trying to coalesce all the copies of the method HasOnlySupportedRefs() but I don't know how to deal with it:

1. The semantics of the method are vague.  What does it mean exactly to have or to be a "supported ref"?  One comment seems to imply that it's for loads and stores.  But the predicates in the implementations of this method also seem to check other random bits (like decorations

[2017-11-02 16:07] greg-lunarg commented on #939
Yes.

[2017-11-02 17:29] dneto0 opened #941 "OpVariable: Storage class must match storage class of the pointer type"

[2017-11-02 17:42] dnovillo commented on #707
IMO, these should be part of the folder in [source/opt/fold.cpp](https://github.com/KhronosGroup/SPIRV-Tools/blob/master/source/opt/fold.cpp)

[2017-11-02 17:44] dnovillo opened #942 "CFG cleanup: Replace OpPhi having one predecessor block with the value coming from that predecessor."
DeadBranchElim does this optimization, and it's a nice cleanup.

In the same vein, OpPhi instructions with all identical operands should be removed.

[2017-11-02 17:48] dnovillo opened #943 "Implement folding for floating point operations."
The existing folder only handles integer arithmetic.  Support for floating point folding should follow the Vulkan spec (https://www.khronos.org/registry/vulkan/specs/1.0/pdf/vkspec.pdf)

[2017-11-02 17:49] dnovillo commented on #943
Needed for #889

[2017-11-02 18:05] dnovillo opened #944 "Implement folding of constant extraction from constant vectors."
For example, the folder should see the individual floating point constants in this code:

// Exmaple 2
#version 450

layout(location = 0)out float o;

void foo(float param[4])
{
}

void main()
{
        float i[4] = { 0.1, 0.2, 0.3, 0.4 };
        foo(i);
        o = i[0] + i[1] + i[2] + i[3];
}

Ideally, o should be folded into 1.0;

[2017-11-02 18:05] dnovillo commented on #944
Needed for #889.

[2017-11-02 23:08] antiagainst commented on #871
I think this is done via #897.

[2017-11-02 23:08] #871 closed

[2017-11-03 15:07] atgoo commented on #900
I have a "work-in-progress" version in my repo if you need it urgently to test something.
https://github.com/atgoo/SPIRV-Tools/compare/master...atgoo:val_image

But it's not well tested yet and doesn't implement any of the OpImageSparseXXX opcodes. Also some interpretations of the spec still need to be clarified.

[2017-11-06 14:35] Themaister opened #946 "Dubious optimization of UBO blocks"
Using spirv-opt -O -o opt.spv test.spv

Input SPIR-V
[code]

Output:
[code]

One awkward result is that the entire UBO is read as a value, only to then poke out a single matrix from that using OpCompositeExtract. I don't see how this can be "better" code.
[code]

[2017-11-06 16:50] greg-lunarg opened #947 "Opt: Always start every spirv-opt run with CFGCleanup; always leave every pass with no unreachable blocks"
First, this is more efficient as we will not be optimizing code that is not executable.

Second, this will make for simpler optimization algorithms as they will not have to take unreachable blocks into account.

It is recommended that, whenever possible, CFGCleanup be used to remove unreachable blocks at the end of passes.

[2017-11-06 16:59] dneto0 commented on #947
I don't think this should be on automatically.   The spirv-opt tool is a get-what-you-ask-for tool.  We're following the pattern of LLVM's `opt` tool.

I think it's perfectly fine for a transform pass to say "assumes cfg-cleanup has removed dead blocks".  Then it's in the control of the user to know when exactly that's required, and it puts the responsibility on them.

Minor point:  structured con

[2017-11-06 17:05] greg-lunarg commented on #947
So would it be ok for a pass to abort if it is given unreachable code?

[2017-11-06 17:06] greg-lunarg commented on #947
BTW, assuming "unreachable"  continues and merges are ok as long as a merge statement references them.

[2017-11-06 19:19] greg-lunarg commented on #946
This code is generated by the "common uniform elimination" pass.

This pass was written to reduce SPIR-V size. The explanation for how this happens can be found in the "white paper":  https://www.lunarg.com/wp-content/uploads/2017/08/SPIR-V-Shader-Size-Reduction-Using-spirv-opt_v1.0.pdf

In practice, I have seen this pass reduce SPIR-V size up to 10% on real life shaders.

This pass also combines

[2017-11-06 19:59] dnovillo commented on #946
If the pass that causes this performance degradation is a size reduction
transformation, then let's only have it enabled for -Os.

On Mon, Nov 6, 2017 at 7:19 PM, greg-lunarg <notifications@github.com>
wrote:

[2017-11-06 20:07] greg-lunarg commented on #946
@dnovillo

[2017-11-06 20:11] Themaister commented on #946
I'm not sure about speed (a good compiler should be able to dead-load eliminate), but the reason I saw this was that it crashed some drivers, so this kind of codegen is not covered by conformance apparently ...

At any rate, I'm reading a single matrix from the UBO, I can't really see why you'd want to load the entire UBO and composite extract from that ... Why not just access chain + load and be

[2017-11-06 20:22] greg-lunarg commented on #946
A "good" compiler should be able to all this stuff. The idea is to do it offline so the shader compiler doesn't have to do it at runtime.

As I said, the pass was written to reduce SPIR-V size. It was included -O because it also eliminated duplicate uniform references.

Conformance is just now including spirv-opt, so this should be improving.

But yes, if this is indeed causing crashes (and it see

[2017-11-06 20:29] Themaister commented on #946
Ok, good that conformance is now taking spirv-opt into account. I've filed bugs to the relevant drivers at least. I'll try to avoid this pass for now.

[2017-11-06 21:22] s-perron commented on #946
Hey, I have an idea of what is going on.  Part of setting things up for common uniform elimination is to run "UniformAccessChainConvert", which I believe is the same as the "local access chain convert pass".  This code changes a load of a member of an aggregate into a load of the entire aggregate and then extracts from that.  This is a really bad idea of you have a large aggregate.

In general the

[2017-11-06 22:15] greg-lunarg commented on #946
I attempted to explain why I did this and why I thought it was reasonable in my first response.

But while my initial experiments on one vendor's platform showed no problem, I admit that some shader compilers might not be set up to deal with this.

I accept that it is currently causing driver crashes and in that case we should take it out of any default recipe.

But since this transformation can r

[2017-11-06 22:38] greg-lunarg commented on #946
I will submit a PR taking common uniform elimination out of -O and -Os.

[2017-11-06 23:26] greg-lunarg commented on #946
I don't disagree that this transformation looks very questionable on first viewing. But here is a question that shines a different light on this transform: What is "large"?

As far as I know, SPIR-V does not define what "large" (or perhaps more precisely, "too large") is in reference to memory loads. I can imagine platforms where any load above a vec4 might not be supported by hardware. I can imag

[2017-11-07 00:06] greg-lunarg commented on #946
PR #949 submitted.

[2017-11-07 17:28] greg-lunarg commented on #946
Note that, as far as anyone has shown, it is the drivers that have the bugs, not the pass. I am pulling the pass from -O and -Os because I am trying to increase use and acceptance of -O and -Os. I will continue to push for driver fixes to allow this pass to be returned to default.

[2017-11-07 22:37] greg-lunarg opened #951 "GCC7 "implicit-fallthrough" warning causes build errors"
GCC7 introduced a "implicit-fallthrough" warning for case statements that the spirv-tools build is treating thus treating like an error.

Need to either disable this warning or add fallthrough directives to source.

[2017-11-07 22:46] greg-lunarg commented on #951
This is not happening on the public version. Never mind.

[2017-11-07 22:46] #951 closed

[2017-11-08 15:45] s-perron commented on #857
@alan-baker is working on this.

[2017-11-09 21:07] antiagainst opened #959 "Appveyor taking too long for each build"
We have tests for VS 2013/2015/2017 and Debug/Release. It now takes ~1h20min for each build. Considering the velocity we have on SPIRV-Tools, it might be nice to remove some of the combinations to avoid waiting for too long.

[2017-11-10 01:43] s-perron opened #960 "Implement a more general redundancy elimination pass."
As far as I know, the only form of redundancy elimination in spirv-opt is common-uniform-elimination.  However that is very specific to loads of uniforms.  However, there are many other reasons for redundancy elimination.  First there is generic removal of duplicate code that comes just as a natural part of translating high level languages.  For example, consider

`
#version 430

layout(set = 0, b

[2017-11-10 03:41] s-perron commented on #960
My suggestion for this is to do a hashing based value numbering pass to deal with redundancy for the symbols with ssa name.  We have to deal with memory locations, which are not in ssa form, differently.  Function scope variables can given ssa names by "local-multi-store-elimination" pass.  Something like "local-uniform-elimination" could be used to fix up any type of read-only memory, but we woul

[2017-11-10 20:35] dneto0 commented on #946
Thanks to all for a good discussion.

I agree the ideal thing is to fix the bugs, and we should pursue that.   There's a big difference between desktop and mobile, however:  desktop drivers are updated frequently and will tend to reach their target audience;  mobile drivers typically move much more slowly and often an old phone does not get driver updates.   So the cost of relying only on "just fi

[2017-11-13 19:05] alan-baker commented on #846
Working on this.

Both proposals would introduce non-determinism when iterating through uses. We cannot rely on the uses of a def having a result id. Instead, I will introduce an unique id to all instructions. This id will be generated by the IRContext. A side-effect of this is that all Instruction will require access to an IRContext at construction (the point will be cached in Instruction). A sep

[2017-11-13 19:10] dnovillo commented on #846
SGTM.  One thing we could allow for instructions that may be temporary is
to have the constructor accept a nil context.  Though, I'm not sure if this
is actually useful because as soon as the instruction is added to some
list, it will need a specific context.

On Mon, Nov 13, 2017 at 2:05 PM, alan-baker <notifications@github.com>
wrote:

[2017-11-13 19:14] dneto0 commented on #959
Good point.  I suspect the Debug implementation on VS2017 is enough to cover all interesting Debug cases.  So I suggest removing Debug VS2013 and Debug VS2015.  What do you think?

[2017-11-13 19:50] antiagainst commented on #959
That SGTM.

[2017-11-13 21:46] dneto0 opened #963 "Pass manager: Optionally log transforms that are performed"
Request from ISVs and IHVs to log transforms that are applied.

If targeting SPIR-V 1.1, then use OpModuleProcessed.
Otherwise, mimic what Glslang does to append strings.

I'd like to make this an off-by-default option on the optimizer.

[2017-11-13 21:47] dneto0 opened #964 "Add strip-except-module-processed option."
Will be the same as strip-debug except that it preserves OpModuleProcessed and the 1.0 analog.

[2017-11-13 22:31] dnovillo commented on #963
Interestingly, earlier today, I filed a new optimizer idea:
https://github.com/KhronosGroup/SPIRV-Tools/projects/3#card-5647840

I'll link the two.

On Mon, Nov 13, 2017 at 4:46 PM, David Neto <notifications@github.com>
wrote:

[2017-11-13 22:33] dnovillo commented on #963
Oh, nm.  You had linked them already.  I wish the mail gateway to github was more explicit...

[2017-11-14 08:59] Themaister commented on #946
It sounds like this pass should be two different optimizations:
- Avoiding duplicate loads from a UBO member (this one is kinda obvious).
- Loading the entire UBO and CompositeExtract which only sounds like a space optimization.

Anyways, it's great that spirv-opt is starting to be used in CTS. Ideally, the codegen used by spirv-opt should have gone through CTS before it is deployed widely (throug

[2017-11-14 15:09] s-perron commented on #862
I've done the main things in this issue.  I've pick up other work for now.

[2017-11-14 15:11] s-perron commented on #608
I believe this is essentially done. @dneto0 Let me know what else you want done as part of this issue.  Other analyses can be added to the IRContext by other issues.

[2017-11-14 15:35] Naghasan commented on #512
We started to refactor some of the dominator code,

What we had in mind so far:

Create a class to handle the dominance information:
 - (Post-)Dominator tree creation from a SPIRV function
 - Classic domination query methods, with x, y being 2 basic blocks, we would have:
   - bool Dominates(x, y)
   - bool StrictlyDominates(x, y)
   - BasicBlock ImmediateDominator(x)
   - bool isReachable(x)

[2017-11-14 15:41] dnovillo commented on #512
On Tue, Nov 14, 2017 at 10:35 AM, Victor <notifications@github.com> wrote:

Thanks!

Seems reasonable.  The dominator tree will live inside IRContext, so when
you hook it up there, it would be nice to have the dominator queries as
ir::BasicBlock methods.  Additional, the isReachable() computation can be
used to substitute the current reachability analysis done
in MemPass::RemoveUnreachableBlocks.

[2017-11-14 17:20] dnovillo commented on #731
This should be handled by SSA-CCP (#889).  I'll make sure I handle this one as well.

[2017-11-14 17:51] s-perron commented on #713
I'm working on a value numbering based redundancy elimination.  This should be able to handle this. #960

[2017-11-14 19:34] dnovillo opened #966 "Implement an operand iterator for Phi instructions."
Phi instructions have many operands that are unrelated to the abstract idea of a Phi node.

The first two operands are the result and the type.  The remaining operands come in pairs, one representing the actual operand (a result ID), the other representing the block label that the result ID is flowing through.

Ideally, we should be able to have accessors for these elements:

- ir::Instruction::Ph

[2017-11-15 14:39] antiagainst opened #968 "Need legalization pass recipe in optimizer header"
Right now we have `RegisterPerformancePasses()` and `RegisterSizePasses()` in `optimizer.hpp`.

It would also be nice to have a `RegisterLegalizationPasses()` so that both glslang and spiregg can share the same source of truth. Right now they are separately encoded in both projects:

https://github.com/KhronosGroup/glslang/blob/4036ef154fb0e11a2b235afce3e9b3b819cf5fea/SPIRV/GlslangToSpv.cpp#L6060-

[2017-11-16 17:58] dneto0 opened #972 "Validate SubpassData Dim case for OpTypeImage"
"If Dim is SubpassData, Sampled must be 2, Image Format must be Unknown, and the Execution Model must be Fragment."

[2017-11-16 18:00] dneto0 commented on #902
@atgoo added code for this in source/validate_conversion.cpp  but it's turned off by #if since we're waiting for Vulkan CTS to be updated.

[2017-11-16 18:01] atgoo commented on #972
I haven't implemented validation rules OpTypeImage yet. It is not in the OpImageXXX section in the spec, so I wan't sure if I wanted to put it together with others.

[2017-11-16 22:28] dneto0 opened #974 "Some instructions are only usable by a Fragement shader"
OpImageSampleImplicitLod
OpImageSampleDrefImplicitLod
OpImageSampleProjImplicitLod
OpImageSampleProjDrefImplicitLod
OpImageQueryLod
OpImageSparseSampleImplicitLod
OpImageSparseSampleDrefImplicitLod
OpDPdx
OpDPdy
OpFwidth
OpDPdxFine
OpDPdyFine
OpFwidthFine
OpDPdxCoarse
OpDPdyCoarse
OpFwidthCoarse
OpKill

[2017-11-16 22:36] dneto0 opened #975 "Validate OpImageType instruction"
Among other things:
- depth is in 0, 1, 2
- arrayed is in 0, 1
- MS is in 0,1
- Sampled is in 0,1,2

Found during review of https://github.com/KhronosGroup/SPIRV-Tools/pull/953

[2017-11-17 20:08] lewissall opened #977 "OpEntryPoint validation message with Input using Kernel Capabilities"
Hi, I wrote a .spvasm test file with an OpEntryPoint that has an Input using Kernel/OpenCL Capabilities. I then used the spirv-tools to assemble, validate, and the llvm-spirv tools to convert to SPIR. There were no validation messages, but the SPIR conversion stalled and crashed with a message.

`C:\Users\User\OneDrive\Asm\SPIR-V\Tools>spirv-as --target-env spv1.0 DebugMsg3.spvasm -o DebugMsg3.spv

[2017-11-17 21:57] greg-lunarg opened #979 "Opt: Optimize loads/stores through nested structs"
When glslang stops flattening structs with opaques types, we will need to optimize nested structs as we now optimize non-nested structs.

See hlsl.flattenSubset.frag test in glslang.

Original report from @johnkslang

I claim this issue.

[2017-11-20 15:00] s-perron opened #983 "Implement scalar replacement"
In issue #539, it was suggested that we implement scalar replacement.  At the time, we decided to do a local access chain convert, which replaces loads and stores through access chain instruction with insert and extract instructions.  Then the chain of insert and extracts are simplified using the insert-extract elimination.

I believe we need to revisit this decision.  Below is an example that dem

[2017-11-20 15:37] dnovillo opened #984 "Implement control structure computation in terms of dominance info."
We currently have two structured order computations that need to be merged:
CFG::ComputeStructuredOrder and CommonUniformElimPass::ComputeStructuredOrder.

They should be merged.

Additionally, since structured control order is a stricter form of dominance order.  They should both be implemented in terms of the new dominance computation done for #512.

[2017-11-21 15:15] s-perron commented on #928
I think this is done.

[2017-11-21 15:15] #928 closed

[2017-11-21 15:16] #608 closed

[2017-11-21 17:41] dnovillo commented on #813
@dneto0 this seems done.  Should we close?

[2017-11-21 17:43] #760 closed

[2017-11-21 17:45] dnovillo commented on #754
@greg-lunarg is this the implementation in opt/inline_opaque_pass.cpp?

[2017-11-21 17:59] dnovillo commented on #622
@s-perron is this still an issue?

[2017-11-21 18:00] dnovillo commented on #758
Seems to be a dup of #636

[2017-11-21 18:01] dnovillo commented on #728
Fixed.

[2017-11-21 18:01] #728 closed

[2017-11-21 18:06] dnovillo commented on #664
This should be handled by the existing folder, CFG cleanup and the upcoming constant propagator (#889)

[2017-11-21 18:14] dnovillo opened #988 "Add pretty-printing (disassembling) for instructions, basic blocks and operands."

[2017-11-21 18:18] dnovillo commented on #710
To be handled in the folder.

[2017-11-21 18:22] dnovillo commented on #724
This is folding plus constant propagation.

[2017-11-21 18:50] greg-lunarg commented on #754
Yes. Unfortunately, after writing it, I came to believe it is not useful on its own.

The goal was to create an inliner which would only do the minimum inlining needed to expose all legalization opportunities vis-a-vis opaque types within the entry point function. However, the pass as currently implemented does not do not expose all legalization opportunities.

It could be useful as part of a larg

[2017-11-22 09:34] Themaister opened #989 "Odd loop is wrongly optimized."
I have this (very reduced) test shader in SPIRV-Cross:
[code]

When I compile that with glslang I get:
[code]

When I optimize with -O, I get:
[code]
The loop never terminates.

[2017-11-22 12:49] Themaister opened #990 "Bitfields test trips assertion in optimizer"
[code]

Trips assertion when running `spirv-opt -O`
[code]

[2017-11-22 15:52] aurolou opened #991 "spirv-val invalid on glslangvalidator generated spv file for opGroupXNonUniformAMD"
When generating the spv file with glslangvalidator from the glsl file and then validating the generated spv file with spirv-val, "Operand 4 of GroupXNonUniformAMD requires one of these capabilities: Kernel", is returned for the add/min/maxInvocationsNonUniformAMD functions.
[shader.zip](https://github.com/KhronosGroup/SPIRV-Tools/files/1496606/shader.zip)

[2017-11-22 18:38] greg-lunarg commented on #989
Thanks! Will take a look.

[2017-11-22 19:41] dneto0 commented on #900
https://github.com/KhronosGroup/SPIRV-Tools/pull/953 has been merged and adds validation for 22 OpImage* opcodes and ImageOperands.
Does not validate OpTypeImage or OpImageSparse*

Several spec issues were raised and are being resolved in the SPIR working group.  I'll keep this open until those are resolved and updates applied to the validator.

[2017-11-22 22:23] dneto0 opened #994 "Derivative instructions are not combinators"
Remove the derivative instructions from the optimizer's list of combinators.

[2017-11-22 22:23] dneto0 commented on #994
Blocked until #971 is merged

[2017-11-22 22:24] dneto0 commented on #994
In a derivative instruction, an invocation exchanges information with its peers in the quad being executed.  So it has side effects beyond calculating a value.

[2017-11-23 15:44] s-perron commented on #983
Here is my suggestions on how to get this done:

1) Identify function scope variables whose only uses are in OpStore instructions, OpLoad instructions, and a least 1 OpAccessChain instruction.
2) All OpAccessChain instruction must have an OpConstant for the first index.

This will give the list of candidates to change.  The changes will need to rewrite the three instructions above.  Suppose we wan

[2017-11-23 18:50] dneto0 commented on #994
Cc: @greg-lunarg  :  This is a functional change to the aggressive dead code elim, but I think a necessary fix.

[2017-11-23 18:50] dneto0 commented on #813
Yes.

[2017-11-23 18:50] #813 closed

[2017-11-23 20:36] dneto0 opened #1000 "Optimization passes should use Add* instruction methods on IRContext rather than on Module."
Those module methods should be marked deprecated for use by things other than the IRContext.

I'm not sure if we should go so far as hiding the Module methods and instead making the IRContext a friend of Module.

[2017-11-23 20:55] dnovillo commented on #1000
Yes.  Forcing everything to go through IRContext is the way to go, IMO.  We can add friend declarations as needed.

Another concern I have is the invalidation of analyses.  It should be impossible for a pass to invalidate an analysis without IRContext finding about it.  I'm not totally convinced this is currently true.  I think it's true, but perhaps @s-perron can comment on this.

[2017-11-23 21:11] dneto0 opened #1001 "Fragment execution model required for derivative instructions"
#996 covers cases: implicit Lod sampling, query Lod, OpKill

[2017-11-23 21:13] dneto0 commented on #974
- [ ] #996  covers all but derivatives
- [ ] #1001 covers derivatives

[2017-11-23 21:46] dneto0 commented on #846
Fixed by #987

[2017-11-23 21:46] #846 closed

[2017-11-23 21:47] dneto0 commented on #846
Hey @greg-lunarg and I'd be interested in hearing if this makes your flows noticeably faster.

[2017-11-23 23:29] dneto0 commented on #968
#980 was merged

[2017-11-23 23:29] #968 closed

[2017-11-23 23:32] dneto0 commented on #988
@alan-baker discovered some code in the test tree that disassembles a single instruction. But it fails on a single OpConstant instruction, likely because there is no definition of the type id.

The right way to do partial-disassembly is to specialize the full-module disassembler so you still run through the entire module but only pay attention to some of the strings coming out for the instructions

[2017-11-24 01:27] s-perron commented on #1000
I had thought about hiding the module's version of these functions when I created the IRContext.  The reason I did not was that I still wanted us to be able to create a module without having an IRContext.  However, we can decide what we want to do with that.  I don't have strong feelings about what we do.

Yes Diego, you are correct.  It is still possible for people to mess up the analyses because

[2017-11-24 01:53] s-perron opened #1003 "Stop using ToNop to remove instructions."
When an instruction is removed from the ir, we currently call "ToNop", which does not delete the instruction.  This causes later transformation that traverse the ir to look at a lot of nop instructions, which is just simply time consuming.  The OpNop instructions will also interfere with pattern matching transformations the we will be adding because the window used for peephole optimization will h

[2017-11-24 02:21] dneto0 opened #1004 "use-after-free in Instruction::unique_id()"
Running unit tests with address sanitizer.

Config line is
cmake -G Ninja -DCMAKE_BUILD_TYPE=Debug -DCMAKE_CXX_FLAGS=-fsanitize=address -DCMAKE_C_FLAGS=-fsanitize=address -DCMAKE_C_COMPILER=clang-3.6 -DCMAKE_CXX_COMPILER=clang++-3.6 .. -DRE2_BUILD_TESTING=OFF

Test output is:

83/85 Test #18: spirv-tools-test_link_global_values_amount ...........***Failed    7.72 sec
Running main() from gmock_main

[2017-11-24 04:04] alan-baker commented on #1004
RemoveDuplicatesPass is erasing instructions without notifying any analyses. Adding a call to IRContext::KillInst prior to the erase call fixes this error.

[2017-11-24 04:44] #1004 closed

[2017-11-24 14:32] antiagainst opened #1007 "OpImageRead are not required to return 4-component vector per the spec"
The validator requires that OpImageRead must return a vector of 4-component. That does not comply with the spec, which says:

[2017-11-24 14:57] antiagainst opened #1009 "OpImageRead can return scalar int/float types"
The validator right now only allows int/float vector return types on OpImageRead. But the spec says it can also be scalar int/float types:

[2017-11-24 15:15] dneto0 commented on #1007
Fixed by #1010

[2017-11-24 15:15] #1007 closed

[2017-11-24 15:15] dneto0 commented on #1009
Fixed by #1010

[2017-11-24 15:15] #1009 closed

[2017-11-24 15:21] antiagainst opened #1011 "Validator should allow scalar int/float texel types for OpImageWrite"
https://github.com/KhronosGroup/SPIRV-Tools/blob/e1a6f8d1c3ec4f814d6160ab46b8f397f89f8184/source/validate_image.cpp#L1072-L1077

[2017-11-24 15:30] antiagainst opened #1012 "Dref should be the depth-comparison reference value"
https://github.com/KhronosGroup/SPIRV-Tools/blob/e1a6f8d1c3ec4f814d6160ab46b8f397f89f8184/source/validate_image.cpp#L771-L776

Dref should be a float scalar based on my understanding of HLSL. But the spec is unclear about its type:

[2017-11-24 17:07] dneto0 commented on #991
The SPV_AMD_shader_ballot extension clearly intends to use group operations because the new instructions are useless without group operations.  The extension spec should say to add the extension as an additional enabling condition for the group operation.

GL_AMD_shader_ballot says that Reduce, InclusiveScan, ExclusiveScan are usable.
I'll fix the validator to match the intent.

[2017-11-24 19:33] dneto0 commented on #1011
Fixed by https://github.com/KhronosGroup/SPIRV-Tools/pull/1014

[2017-11-24 19:33] #1011 closed

[2017-11-24 19:36] #994 closed

[2017-11-24 19:41] dneto0 commented on #990
This no longer asserts for me.

[2017-11-24 19:44] dneto0 commented on #990
Running spirv-opt -O  I get this output:

[code]
Running spirv-opt --eliminate-dead-code-aggressive I get this:
[code]

[2017-11-24 19:44] #990 closed

[2017-11-27 14:44] antiagainst opened #1017 "OpVariable initializer incorrect handled in optimization"
For the following HLSL source code:
[code]

Spiregg will generate the following unoptimized SPIR-V:
[code]
And spirv-opt currently optimizes it into the following SPIR-V:
[code]

The optimization passes are `RegisterPerformancePasses()`.

It seems to me that the reason is `OpVariable` initializers are incorrectly handled. But haven't investigated to make sure it is indeed this problem.

Originally

[2017-11-27 16:51] greg-lunarg commented on #1017
It is nearly certain that initialized variables are not handled correctly by the opt phases I wrote. At the time, glslang did not generate these and I was not aware of the capability.

I claim this issue for the passes I wrote.

[2017-11-27 21:33] dnovillo opened #1021 "OpSwitch not removed by ADCE"
Found this in response to @alan-baker review for #985.  I added ir::Instruction::IsBranch and modified class AggressiveDCEPass to use it instead of its own definition.  In adding a new test, I realized that ADCE does not handle switch().

Attached is the test case I've added.  I'm expecting the whole switch() to be removed, but it isn't.

@greg-lunarg is the test OK?  Or am I missing something?  T

[2017-11-27 21:54] greg-lunarg commented on #1021
Empty switch removal has not been integrated yet. In fact, I have not yet even implemented it, although I expect it will be a fairly natural extension to empty if removal (already in ADCE) and should not be a lot of work.

Empty loop also has not been integrated, but I do have a version on a branch that I have tested. I have not integrated it as I have been pushing hard on some other DCE needed by

[2017-11-27 22:45] dnovillo commented on #1021
OK, thanks.  I guess I'm confused as to why it needs to be handled in any particular way.  But I have not looked at the ADCE code, so I am sure I'm missing something obvious.  I will leave the test disabled so that you can use it when incorporating OpSwitch support.

[2017-11-27 22:48] dneto0 opened #1022 "OpImageSparseRead must not be used with an image with Dim = SubpassData"
An image with Dim = SubpassData can only be used when sampled = 2, i.e. not sampled.   The image instructions that operate on an image "without a sampler" are OpImageRead, OpImageWrite, and OpImageSparseRead.  The first two explicitly say what happens if Dim =SubpassData.  Need to handle OpImageSparseRead; I suspect you're not allowed to use Dim = SubpassData in this case

[2017-11-27 22:51] dneto0 commented on #1022
Dim = SubpassData is intended for on-device cached tiled.
The sparse memory concept is fo binding to memory buffers with more flexible residency and partitioning, definitely not the same use for SubpassData

[2017-11-28 16:33] dnovillo opened #1025 "Unify computation of CFG edges"
The computation of CFG edges in opt::SSAPropagator (#985) is also needed for dominance analysis (#1020).  Both implementations should be moved to ir::CFG.

[2017-11-28 18:10] dnovillo opened #1026 "Use reachability analysis from new dominance analysis in CFGCleanup"
CFGCleanup computes reachability in an ad-hoc way.  Once dominance analysis is in, it should use the new framework (#1020).

[2017-11-28 18:21] s-perron opened #1027 "Have CFG cleanup delete the code in unreachable merge block."
Take the following example:
[code]

The spir-v that is generated contains the following code:

[code]

Note that the code in BB %32 is not reachable, but the block cannot be deleted because it is the target of an OpSelectionMerge.  However, the code in the basic block is not needed.  We can delete that code and simplify other code.  I would expect this code to become

[code]

[2017-11-28 20:28] dnovillo commented on #895
Fixed by #985.

[2017-11-28 20:28] #895 closed

[2017-11-28 20:29] dnovillo commented on #894
Implemented by #985.

[2017-11-28 23:21] pierremoreau opened #1029 "Run clang-format on pull requests"
It’s easy to forget running clang-format before submitting a pull request. Reviewers currently look for wrong formatting, but it could be checked for automatically by a build bot, or as part of an additional check being run on the pull request.

Do some of you have experience with some syntax formatting check being run along the other checks on pull requests?
Maybe something like [this](https://gi

[2017-11-28 23:51] pierremoreau opened #1031 "Export SPIRV-Tools as a “package”"
Providing a set of pkg-config (and CMake or others) “package files” would make it easier for other projects using SPIRV-Tools to locate it and use it, rather than having to implement some custom detection method.

I have some patches for generating pkg-config’s .pc file, which I could submit if you are interested.

(I have come across this issue I am planning to use SPIRV-Tools in [Mesa](https://w

[2017-11-29 14:58] dneto0 commented on #989
Fixed by #1030

[2017-11-29 14:58] #989 closed

[2017-11-29 17:29] dneto0 opened #1034 "std::less on spvtools::opt::Edge is not a weak ordering"
This is causing Windows Debug build timeout failures.

[2017-11-29 17:32] dnovillo commented on #1034
Bug is due to laziness on my part.  Edge::operator<() is using pointer comparisons *and* it's an OR predicate.  *sigh*.

[2017-11-29 18:19] dneto0 opened #1035 "Add unit tests for DecorationManager"

[2017-11-29 22:30] #1034 closed

[2017-11-29 22:31] dnovillo commented on #1034
Fixed with commit 8cfa0c40e0afd5b6fcbedf622fd45afd2de2a055

[2017-11-29 23:18] dneto0 commented on #1029
I try not to be too picky with formatting with pull requests.  Normally I find something else more important that I'd like fixed.  :-)

Hey @antiagainst what do you think?

I assume that's PowerShell. I've never learned PowerShell. :-)

[2017-11-30 13:28] dnovillo commented on #1029
I am *ALL* for something like this.  I am always using clang-format to keep my code formatted and I sometimes have tons of noise in my patches when editing existing files.

I'm also unfamiliar with this scripting language.  But if it does what it says, it's got my vote.

[2017-11-30 14:18] antiagainst commented on #1029
Oh, it suddenly comes to me that clang-format has a mode to only format the changed code: https://clang.llvm.org/docs/ClangFormat.html#script-for-patch-reformatting. So it may be fine.

[2017-11-30 14:19] dnovillo commented on #1029
Yeah, I was going to suggest that option for clang-format.  I've also found that if your style file is stable, the output is stable.  Particularly when using a well-established format like the Google style

[2017-11-30 14:24] antiagainst commented on #1029
Yep.

We don't want to add more checks into Appveyor. Appveyor is running all jobs sequentially. It already takes more than 1 hour to run a push. Adding checks to Travis is better, IMHO.

[2017-11-30 14:25] dnovillo commented on #1029
@antiagainst, thanks.  Would you be able to make this change then?  I'm not sure where to start, but if you give me a couple of pointers I can get it done.

[2017-11-30 14:27] antiagainst commented on #1029
Not a problem. I can do it.

Before that, can we do a wholesale reformatting over the current codebase?

[2017-11-30 15:26] #991 closed

[2017-11-30 15:27] dneto0 commented on #991
Fixed with #1015

[2017-11-30 18:38] greg-lunarg commented on #983
A couple questions:

1) Can you point to a real live industrial-strength shader from a shipping product that contains the code above or anything like it?
2) If the answer to 1) is no, should we be making design judgments and decisions based on shaders that we are not sure have any basis in reality?

I have tried as much as possible to keep all my design decisions based on real shaders that I have

[2017-11-30 18:43] s-perron commented on #983
Yes, I have based my comments on a specific example in a real life industrial-strength shader from a shipping product.  However, I cannot point you to it.

[2017-11-30 18:57] greg-lunarg commented on #983
OK. Thanks. That is helpful to know.

I realize that you and the rest of the Google team have your agenda, and that is totally cool. I also realize that some of the design decisions that I have made may not align with yours.

But you should also realize that I have my agenda too, basically size reduction of SPIR-V. So please realize that when I see statements like "we need to revisit this decision

[2017-11-30 19:06] dnovillo commented on #983
On Thu, Nov 30, 2017 at 1:57 PM, greg-lunarg <notifications@github.com>
wrote:

That is perfectly OK and that's the thinking behind -Oconfig=.  Separate
configurations of transformations may be required by different vendors,
different architectures and even different applications.  -O and -Os are
meant to be approximately useful for most situations in the intersection of
those 3.  However, we are

[2017-11-30 20:11] s-perron commented on #983
@greg-lunarg Sure, I can probably tone down my language a little.  I'm not suggesting that we delete the stuff you did.  We should get something that we can experiment with and actually see what works better.  Then we can decide what works best for -O and -Os.  That is more what I mean by "rethink".

[2017-11-30 20:28] greg-lunarg commented on #983
That's cool.

If your code indeed does have struct refs in tight loops, then yes, SROA could actually reduce your size. So it is something I need to consider for -Os. As Diego suggested on the other thread, we may need to enhance the way these optimizations are called and controlled.

[2017-12-01 15:18] #1012 closed

[2017-12-04 18:00] s-perron opened #1051 "DCEInst is trying to delete the same instruction twice."
When calling DCEInst, if an instruction is deleted that contains the same ids twice, it is possible that the instruction defining that id will end up in the work queue twice.  This leads to the that instruction being processed after it has been killed.

[2017-12-04 23:16] #1051 closed

[2017-12-04 23:57] linuxturtle opened #1057 "/external/CMakeLists.txt spec for SPIRV-Headers needs to be case sensitive"
cmake fails on Linux if one follows directions and clones the SPIRV-Headers repository in /external, because cmake is looking for "spirv-headers" instead of "SPIRV-Headers" (which is the name of the headers repository).  Here's a patch:

`
 diff --git a/external/CMakeLists.txt b/external/CMakeLists.txt
 index 412d8c3..7375df7 100644
 --- a/external/CMakeLists.txt
 +++ b/external/CMakeLists.txt
 @@

[2017-12-05 13:02] #1029 closed

[2017-12-05 16:36] dnovillo opened #1060 "Use a command-line flag parsing library for spirv-opt."
We are adding new flags, some flags already need additional arguments and more flags will need them too.

Parsing it with a flag parsing library like getopt() (https://www.gnu.org/software/libc/manual/html_node/Getopt.html) or gflags (https://gflags.github.io/gflags/) would simplify things greatly.

[2017-12-05 19:41] #1057 closed

[2017-12-06 14:40] antiagainst opened #1064 "Disable Travis MacOS build"
Travis CI's MacOS support is quite flaky. They don't have enough MacOS builders and are frequently flooded by pending jobs: https://www.traviscistatus.com. It recently takes many hours to wait for a MacOS build job to start.

We have fair good testing on Windows and Linux already. So it should give us enough confidence that MacOS should work.

Unless somebody rejects, I'll disable the MacOS build

[2017-12-06 15:41] antiagainst commented on #244
@atgoo: I think we now have validation checks for `OpImageFetch`: https://github.com/KhronosGroup/SPIRV-Tools/blob/8ba68fa9b94da071e879e3064adf8aaaea1a7051/source/validate_image.cpp#L878-L950

[2017-12-06 15:41] #244 closed

[2017-12-06 15:51] antiagainst commented on #382
@dneto, @atgoo: My impression is that the work for compression is basically complete right now. Should we close this?

[2017-12-06 16:11] antiagainst commented on #457
It seems all the items listed are done. I'll close this.

[2017-12-06 16:11] #457 closed

[2017-12-06 16:11] atgoo commented on #382
I would wait for feedback before doing any non-bugfix work, so it could be called completed.

[2017-12-06 16:14] antiagainst commented on #485
#1047 checks the storage class.

[2017-12-06 16:17] antiagainst commented on #488
@atgoo: ping. Is this done actually?

[2017-12-06 16:18] antiagainst commented on #382
Okay, I'll close this then.

[2017-12-06 16:18] #382 closed

[2017-12-06 16:29] danginsburg commented on #1064
Do we do clang builds on Linux?  If not, this will likely lead to regressions on macOS.  We build spirv-tools on MacOS here and would be kind of inconvenient to lose this testing.  I'd feel better about it knowing there was at least clang testing on Linux.

[2017-12-06 16:33] antiagainst commented on #1064
@danginsburg: Yes. We test both clang and gcc on Linux, for both Debug and RelWithDebInfo: https://travis-ci.org/KhronosGroup/SPIRV-Tools.

The version of clang is 3.9.0.

[2017-12-06 17:13] #616 closed

[2017-12-06 17:14] #619 closed

[2017-12-06 17:14] antiagainst commented on #622
@s-perron: ping.

[2017-12-06 17:31] antiagainst commented on #645
Hey @FireBurn, is this still an issue for you with the latest googletest and SPIRV-Tools? Sorry I don't have an Linux box that can install GCC 7.1.

[2017-12-06 17:45] antiagainst commented on #734
Closing since not hearing back for quite a while.

[2017-12-06 17:45] #734 closed

[2017-12-06 18:03] FireBurn commented on #645
I switched back to GCC 6. GCC 7 was giving me too many issues in general

[2017-12-06 18:25] antiagainst commented on #785
I think we now have checks for it:

https://github.com/KhronosGroup/SPIRV-Tools/blob/8ba68fa9b94da071e879e3064adf8aaaea1a7051/source/validate_image.cpp#L607-L624

[2017-12-06 18:25] #785 closed

[2017-12-06 18:33] antiagainst commented on #645
OK, thanks! I'll close this then.

[2017-12-06 18:33] #645 closed

[2017-12-06 18:35] antiagainst commented on #894
#985 is merged. Should we close this?

[2017-12-06 18:37] dnovillo commented on #894
Yes.  I was convinced I had closed it.  Thanks for the heads up.

[2017-12-06 18:37] #894 closed

[2017-12-06 19:11] antiagainst commented on #943
Folding of floating points can be tricky. I'd assume we should do this gradually by enabling easy cases first.

[2017-12-06 21:15] s-perron commented on #713
The value number work I did will not common loads from images when one of the parameter is the result of an OpSampledImage instruction.  This is because we will not common OpSampledImage instructions because they may end up in a different basic block from their use.

[2017-12-06 21:19] s-perron commented on #622
This is still a problem.  I'll look into it.

[2017-12-07 10:00] pierremoreau commented on #645
I just tried with the latest SPIRV-Tools and googletest, with GCC 7.2, and I get some conversion errors:
[code]

I might have a look at them; I tend to use clang over GCC, but it is pretty easy for me to switch between the two.

[2017-12-07 16:18] s-perron opened #1068 "Add option in spirv-opt to skip validation."
There might be scenarios where it is useful to skip validation in spirv-opt.

The main one is when you have SPIR-V that is technically illegal, but in a way that is intended.  If you are not able to change the SPIR-V, then this is your only option.  For example, if you want to run the legalization passes to make illegal code from an HSLS front-end legal.

[2017-12-07 17:23] #622 closed

[2017-12-07 18:09] dnovillo opened #1070 "Remove code from unreachable blocks that must remain in the CFG"
Control flow merge blocks cannot be removed from the CFG (to preserve the control structure). However, code in these blocks is dead, so it should be removed by CFGCleanup.

[2017-12-07 20:01] alan-baker opened #1071 "Improve TypeManager"
The TypeManager has good intentions, but the implementation is not very usable. Ideally, it could be used for finding the declaration of a given type, but since it does looks up based on addresses it can only find previously indexed types. This means users cannot construct a type and see if its been declared.

Another issue is that decorations are added after the types have been created. This shou

[2017-12-07 21:27] antiagainst commented on #645
Cool, thanks @pierremoreau!

[2017-12-07 23:20] greg-lunarg commented on #1017
PR #1017 does fix the code in this issue, however I would like to leave this open until I also fix LocalMultiStoreElim. PR #1017 fixes --local-single-store-elimination, which optimizes variables with only a single store, but I still need to also fix --local-multi-store-elimination to correctly handle variable initialization when optimizing variables with multiple stores.

[2017-12-07 23:25] mikew-lunarg opened #1074 "VS2015: Command line warning D9025: overriding '/W3' with '/w'"
During build with Visual Studio 2015 and CMake 3.7.2, we see several warnings from the compiler as below, suggesting that the warning level is being reduced.

where [projectname] is one of:
- glslang\build\External\spirv-tools\examples\cpp-interface\spirv-tools-cpp-example.vcxproj
- glslang\build\External\spirv-tools\source\SPIRV-Tools.vcxproj
- glslang\build\External\spirv-tools\source\link\SPIRV

[2017-12-07 23:37] #960 closed

[2017-12-07 23:43] s-perron commented on #700
@dneto0 I implemented a GVN based commoning algorithm, but it will not get this case.  The reason is that BaseColor is not loaded multiple times on the same path.

Usually commoning algorithms want to be "lazy".  That is they try not to compute (or load) a value too far before its use because that needlessly increases register pressure.  If you really want to get this case, let me know, and we can

[2017-12-08 05:35] s-perron opened #1075 "ADCE deletes label, but leaves a branch to the label."
If an empty structured-if has a merge block that is also the continue target of a loop construct, the block in the if is removed, but the branch is left as is.  This leaves a use of a label id that has no definition.

The following SPIR-V demonstrates the problem.  Assemble it, and run it through ADCE.

[code]

[2017-12-08 20:07] #1068 closed

[2017-12-08 22:23] antiagainst commented on #449
I see Windows buildbot failures now because we don't pinpoint the exact commit we use for external projects: https://ci.appveyor.com/project/Khronoswebmaster/spirv-tools/build/2195/job/6p37t8fw8jw7i5cd

It likely results from a recent update in googletest trying to fix the `std::tr1` warnings in newer versions of VS2017: https://github.com/google/googletest/commit/887a6c642006aa7475bdedb2b3652feb6

[2017-12-08 22:30] AWoloszyn commented on #449
So there was an update to visual studio a few days ago that started making gtest fail. If the compiler on the bots has. updated, git submodule won't help as the old version of gtest was the problem.

[2017-12-08 23:38] greg-lunarg commented on #1075
Good catch!

A related question: how do you interpret the following from the SPIR-V spec, giving requirements for the Shader capability:

Selections must be structured, having an OpSelectionMerge instruction in their header.

Specifically, how do you interpret the word "Selections"? Specifically, does this mean that every OpBranchConditional must be preceded by an OpSelectionMerge? If not, which o

[2017-12-08 23:40] ratchetfreak commented on #1070
The entire block can be replaced by opLabel+OpUnreachable

[2017-12-09 04:04] s-perron commented on #1070
Issue already opened #1027.

[2017-12-09 19:30] pierremoreau commented on #645
It’s an issue within googletest: `typedef MatcherList<sizeof...(Args), Args...> MatcherListType;` passes a `size_t` as first template argument to `MatcherList` whereas it expects an `int`. Changing the definition of `MatcherList` to take a `size_t` as first template argument did let me build SPIRV-Tools without any other issues. I’ll ping the issue @FireBurn opened earlier.

[2017-12-09 19:41] pierremoreau commented on #645
We should maybe reopen this issue until it is solved upstream?

[2017-12-09 23:32] s-perron commented on #1075
I believe every OpBranchConditional must be related to an Op*Merge instruction.  The OpBranchConditional in BB 28 does not have an OpSelectionMerge because it is the loop exit related to the OpLoopMerge in BB 21.

The example above was generated by `glslc` from the shaderc repository, with a small change by hand.  The original source was

[code]

[2017-12-11 16:54] #974 closed

[2017-12-11 18:24] antiagainst commented on #645
@pierremoreau: I don't think so. Issues here should be for SPIRV-Tools. :)

[2017-12-12 15:10] s-perron opened #1083 "Inlining does not set the parent of new basic blocks."
This is an internal representation issue, so I cannot give an specific test case.  However, after inlining, the basic blocks created by inlining return nullptr when GetParent is called.

[2017-12-12 16:14] s-perron opened #1086 "Convert private variables to function scope"
Many optimizations work with function scope variables, but not private scope.  The reason is the locality: if a variable is used only in one function it can be replaced by the result ids.

The current optimization scheme usually involves aggressive inlining that leaves a single function.  In this case, private variables are essentially function scope.  It would be nice to have an optimization that

[2017-12-13 23:35] dneto0 opened #1091 "Ban floating point case for OpAtomicLoad, OpAtomicExchange, OpAtomicCompareExchange"
In graphics (Shader) environments, these instructions only operate on scalar integers.  Ban the floating point case.

OpenCL supports atomic_float

[2017-12-13 23:37] dneto0 commented on #1091
NV_shader_atomic_float has atomic  operations on floats, but that would be an extension that would have to be declared in the SPIR-V module.
https://www.khronos.org/registry/OpenGL/extensions/NV/NV_shader_atomic_float.txt

[2017-12-14 18:12] dneto0 opened #1093 "Improve "requires capability" message to give the string name of the bad enum."
E.g. See https://github.com/KhronosGroup/glslang/issues/790#issuecomment-288865356

[2017-12-14 18:17] dneto0 commented on #975
Resolved by #1016

[2017-12-14 18:17] #975 closed

[2017-12-15 15:41] dneto0 commented on #1060
The main issue is that whatever you do here will have to be incorporated into downstream builds.  For example:
- Android NDK
- Glslang
- Shaderc

[2017-12-15 16:56] dneto0 commented on #1075
#1088 has been merged.

[2017-12-15 17:02] s-perron opened #1096 "Structured buffers in Spiregg"
When dealing with structured buffers, local resources have to map back to a global resource.  This "mapping" happens by essentially doing copy propagation in the optimizer.  The problem we have is how do we represent these objects so they can be propagated.  The way that textured are represented has worked well because when loading an OpImage it acts like a pointer. But for structured buffer we ha

[2017-12-15 17:02] s-perron commented on #1096
@antiagainst Please correct anything I said that is incorrect.

[2017-12-15 17:19] dneto0 commented on #1075
This unfortunately vague, and has been a topic of debate.

No, not every OpBranchConditional has to have a merge instruction.  Question is, which ones.

I'd like to say "Selections" should be interpreted as a "selection construct" but that's defined in terms of a "selection header" which itself is not defined in the spec.  You might guess that it means "a header block which is not a loop header".

[2017-12-15 17:21] antiagainst commented on #1096
Thanks for the nice write up, @s-perron! The above is correct to my knowledge.

By structured buffer, we actually mean the following HLSL resource types:

* StructuredBuffer
* RWStructuredBuffer
* AppendStructuredBuffer
* ConsumeStructuredBuffer
* ByteAddressBuffer
* RWByteAddressBuffer

Non-externally-visible HLSL variables of these types will be put  into SPIR-V `Private` or `Function` storage c

[2017-12-15 17:38] greg-lunarg commented on #1075
Thanks David, that's very helpful. Perhaps that statement in the spec could be amended to?:

Selections must be structured, having an OpSelectionMerge instruction in their header, unless they are an allowed branch out of the enclosing control flow construct.

[2017-12-15 17:41] dneto0 commented on #1096
Let me see if I understand:

* All these HLSL types map to a Vulkan uniform buffer or storage buffer.
* Uniform buffers and storage buffers are module-scope objects, which is why you can infer that such an object of that type declared inside a function should always be considered as something that will only point (a) nothing or (b) an object of the same type but declared at module scope.  That's w

[2017-12-15 18:31] s-perron commented on #1096
@dneto0 Yes, that is the proper understanding.  I've updated the first comment to reflect the different phases.

[2017-12-15 18:34] dneto0 opened #1098 "Primitive instructions only usable in geometry shader"

[2017-12-15 18:36] dneto0 opened #1099 "Primitive instructions only usable when right number of streams are present"
OpEmitVertex and OpEndPrimitive are only usable when there is only one stream present.

OpEmitStreamVertex and OpEndStreamPrimitive are only usable when more than one stream is present.

[2017-12-15 18:44] ehsannas opened #1100 "Image Operand Sample can only be used with OpImageFetch, OpImageRead and OpImageWrite: ImageSparseFetch"
I don't think this is a correct error to get:

[code]

My understanding is that the "Sparse" version of these instructions (OpImageSparseFetch, OpImageSparseRead, and OpImageSparseWrite) should also be OK.

CC @antiagainst: These errors show up if I upgrade spirv-tool in our codebase.

[2017-12-15 18:48] antiagainst commented on #1096
@dneto0: Yep.

A **local** resource (in the `Private` or `Function` storage class) must map to some **global** resource (in the `Uniform` storage class), after function inlining, copy propagation, DCE, etc. Otherwise, the source code should be rejected. This is the behavior for both fxc and dxc.

So, for all such structured/byte buffer objects declared as the following:

* static global
* static f

[2017-12-15 18:55] antiagainst commented on #1100
+1

[2017-12-15 18:59] s-perron opened #1101 "Insufficient handling of capabilities"
In the module class, there is a function `HasCapability`.  It is suppose to return true of the module has a certain capability.  It is implemented by looking for the capability in question in the list of OpCapability instruction.  The problem is that this is not enough.

When one capability depends on another, the other is implicitly enabled, even if it is not explicitly present.  This needs to be

[2017-12-15 19:16] greg-lunarg commented on #1096
What fxc command line did you use to compile the shader above?

[2017-12-15 19:58] s-perron commented on #1101
@alan-baker suggested we add this to the feature manager.  As we read each capability, the feature manger keeps track of all explicitly and implicitly enabled capabilities.

The name of the function on the module could change to `HasExplicitCapability` or something like that.

[2017-12-15 19:59] dneto0 commented on #1101
The validator handles this transitive closure in ValidationState_t::RegisterCapability.

Agree the optimizer needs the transitive closure too.

[2017-12-15 20:05] antiagainst commented on #1096
@greg-lunarg: `fxc.exe -T vs_5_1 <input-name>`:

[code]

[2017-12-18 13:23] alan-baker commented on #1071
Pushed as 616908503d747a052022d5f5af86647ec373855f

[2017-12-18 13:23] #1071 closed

[2017-12-18 14:57] #1031 closed

[2017-12-18 15:46] atgoo commented on #1100
Well, that's because the spec says exactly that.

Sample
A following operand is the sample number of the sample to use. Only valid with OpImageFetch, OpImageRead, and OpImageWrite.

[2017-12-18 15:54] ehsannas commented on #1100
oh! All right, IIUC the spec should be fixed then. I'll report an issue.

[2017-12-18 19:19] #1100 closed

[2017-12-18 19:30] alan-baker opened #1108 "Remove duplicates incorrectly removes non-duplicate decorations"
RemoveDuplicatesPass attempts to remove duplicate decorations by asking AreDecorationsTheSame(). DecorationManager::AreDecorationsTheSame() does not check the target operands (target id for OpDecorate and type and element for OpMemberDecorate).

[2017-12-18 20:51] pierremoreau commented on #1108
I’ll send a pull request shortly which reworks `DecorationManager::AreDecorationsTheSame()` and fixes this bug, as well as another one, and adds tests for remove duplicates and parts of the decoration manager.

[2017-12-18 21:34] alan-baker commented on #1108
@pierremoreau I don't think DecorationManager is incorrect. I plan to fix how RemoveDuplicatesPass determines which decorations are duplicates. I'm currently working on this. I forgot to move it to in progress.

[2017-12-18 22:12] pierremoreau commented on #1108
This should do it, I think: https://github.com/pierremoreau/SPIRV-Tools/commit/92364300ed07ac224976999ea99c7bfb5752b15b . I have more patches on https://github.com/pierremoreau/SPIRV-Tools/tree/decoration_manager_fixes and am currently adding test for RemoveDuplicatesPass.

[2017-12-18 23:20] pierremoreau commented on #1108
I submitted a pull request with my work. It contains another fix to AreDecorationsTheSame() as well as unit tests for that function and HaveTheSameDecorations(). I also added unit tests for the various part of RemoveDuplicatesPass. If you think anything is missing from it, feel free to add/comment  on it.

[2017-12-19 15:05] dneto0 commented on #1098
Addressed by #1097 now

[2017-12-19 15:27] dneto0 commented on #988
Some more on this:  Yes, you need the information from earlier in the module, especially for type information.   So you need to send in the entire module, and then watch for the particular instruction that you want to disassemble.  You could specify that as a word offset from the start of the module, but you probably don't have that offset information handy.

Instead, you could look for the sequen

[2017-12-19 15:28] alan-baker opened #1111 "TypeManager can reference deleted memory"
The id to type map stores unique pointers of types. These pointers may be used in other types. If the TypeManager removes a mapping for a particular id, the memory for the type is free'd. Instead the type manager should have a pool of allocated types and store regular pointer in the id to type map.

[2017-12-19 16:22] dneto0 opened #1112 "DecorationManager::HaveTheSameDecorations should be symmetric"
There is a TODO for this.  I'm filing an issue for this because the method name implies the check is symmetric, but it is not symmetric

Cc: @pierremoreau

[2017-12-19 18:21] #660 closed

[2017-12-19 18:25] atgoo commented on #487
Image operands are expected to appear in operands of type SPV_OPERAND_TYPE_IMAGE.

OpTypeSampledImage and OpTypeImage not appearing in non-image instructions should be covered by complete validation coverage of all opcodes.

I don't think there is any work to be done on this issue.

[2017-12-19 18:31] dneto0 commented on #1098
Fixed by #1097

[2017-12-19 18:31] #1098 closed

[2017-12-19 18:36] atgoo commented on #485
This seems to be done if this issue with

is resolved.

[2017-12-19 18:45] atgoo commented on #972
Was done in https://github.com/KhronosGroup/SPIRV-Tools/pull/1016

[2017-12-19 18:45] #972 closed

[2017-12-19 19:13] dneto0 commented on #1001
Done.

[2017-12-19 19:13] #1001 closed

[2017-12-19 19:32] dneto0 opened #1115 "Vulkan: Images: OpTypeImage must declare a scalar 32-bit float or 32-bit integer type for the “Sampled Type”. (RelaxedPrecision can be applied to a sampling instruction and to the variable holding the result of a sampling instruction.)"
From Vulkan appendix A, section "Validation rules within a module"

OpTypeImage must declare a scalar 32-bit float or 32-bit integer type for the “Sampled Type”. (RelaxedPrecision can be applied to a sampling instruction and to the variable holding the result of a sampling instruction.)

[2017-12-19 19:34] dneto0 opened #1116 "Vulkan: Images: OpSampledImage must only consume an “Image” operand whose type has its “Sampled” operand set to 1."
From Vulkan env spec (Appendix A), subsection "Validation rules within a module"

[2017-12-19 20:40] alan-baker commented on #1108
Fixed in 424f744db16879c09ce9c839de4954eca7580565

[2017-12-19 20:40] #1108 closed

[2017-12-19 20:56] s-perron opened #1118 "Update the legalization passes"
For Spiregg, we want to try a different set of optimizations for legalization.  The idea is limit the number of optimization that are expected to be preformed on the illegal code.  The idea will be to do a thorough copy propagation.  All optimizations must be there to handle some specific problem related to copy propagation.

The new list of optimization will be:

1. Inlining - Place the definitio

[2017-12-19 20:59] #1083 closed

[2017-12-19 21:00] #1086 closed

[2017-12-19 21:49] dneto0 opened #1120 "OpEntryPoint: validate Interface objects"
- Interface objects are Ids of variables in Input or Output storage class.
- If code in the static call tree of the entry point references an Input or Output variable, then the variable must be listed in the Interfaces list of the entry point

[2017-12-19 21:49] dneto0 opened #1121 "OpEntryPoint: shader entry points have void(void) signature"
Currently we check that it has no arguments.  We should also check the return type is void

[2017-12-20 16:11] antiagainst commented on #1118
To keep track of known issues:

* HS/DS/GS is not supported right now because of insufficient capability probing #1101
* Some pointer-to-pointer types are not cleaned because of lacking of dead type elimination #833

[2017-12-20 16:11] antiagainst commented on #1118
cc @ehsannas @chaoticbob

[2017-12-20 19:20] s-perron commented on #1118
@antiagainst  pointed out that I might want "Dead branch elimination":

[code]

I thought cfg cleanup was suppose to clean this up, but apparently not.  @greg-lunarg @dnovillo Can the two of you comment on exactly what each optimization is suppose to do or not do?  How will the constant propagator handle this?

[2017-12-20 20:02] greg-lunarg commented on #1118
Re --convert-local-access-chains, I am pretty sure that I can write a shader that will depend on this in order to legalize. Let me know if you would like me to write one.

[2017-12-20 20:06] greg-lunarg commented on #1118
I am not completely up on the capabilities of CFGCleanup or the constant propagator. I can tell you that DBE converts all OpBranchConditionals with a constant condition to the appropriate OpBranch (and removes any newly dead blocks).

[2017-12-20 20:54] dnovillo commented on #1118
On Wed, Dec 20, 2017 at 2:25 PM, Steven Perron <notifications@github.com>
wrote:

This is a task for CFG cleanup.  CCP leaves these around.  I'll augment CFG
cleanup. This is called for in #889.

[2017-12-20 21:50] greg-lunarg commented on #1118
What is the reason for "limiting" the number of optimizations for legalization? Is it to reduce compile time? If so, you may be interested in the following:

I took your recipe above (ok, I added --convert-local-access-chains). On my benchmark shader, spirv-opt averaged 0.26s.

I then added --eliminate-local-single-block --eliminate-local-single-store --eliminate-insert-extract --eliminate-dead-co

[2017-12-21 14:04] alan-baker commented on #1111
Rebased, squashed and pushed as 1ab8ad654a550d28593b1b38ac303adc66b1a241

[2017-12-21 14:04] #1111 closed

[2017-12-21 15:02] dnovillo opened #1124 "Extend CFG cleanup to simplify conditional and multiway branches"
Transformations may leave conditional jumps that can be fully resolved at compile time.  For example, constant propagation (#1102) transforms

[code]

into

[code]

CFG cleanup should straighten out that conditional into an unconditional branch, and perhaps even join the basic blocks.

[2017-12-21 16:55] dneto0 opened #1127 "Propagator engine: ignores OpKill and OpUnreachable"
The propagator engine adds edges to the pseudo-exit node to a block ending in OpReturn or OpReturnValue.  This ignores OpKill and OpUnreachable.  Those are block terminators that also lead nowhere in the control graph.

I think you want the same concept of pseudo-exit node that the validator uses for its augmented CFG.  See CFA<BB>::ComputeAugmentedCFG.

I'm not sure if this is a bug, but @dnovill

[2017-12-21 17:17] dneto0 commented on #1127
Reading the code some more, I don't know why you want edges into the pseudo-exit node at all.

The only uses of bb_succs_ is to
- seed the edge list at the start, and
- follow real control edges.

Am I missing something?  At any rate the code could use better comments to avoid confusion like mine.

[2017-12-21 17:39] dneto0 commented on #1127
Also, the bb_preds_ are created but unused.  I think we can delete that entirely.

[2017-12-21 19:49] dnovillo commented on #889
Fixed with 4ba9dcc8.  The remaining issue is being tracked in #1124.

[2017-12-21 19:51] dnovillo commented on #731
4ba9dcc8 addresses this case but the folder still needs to be extended for floating point comparisons.  See #943.

[2017-12-21 20:54] dneto0 opened #1130 "constant propagator issues"
Please address request for changes in:
https://github.com/KhronosGroup/SPIRV-Tools/pull/1102#pullrequestreview-85156526

[2017-12-21 20:56] dneto0 opened #1131 "ConstantManager::GetConstantFromInst should return nullptr for OpSpecConstantComposite"
And OpSpecConstantComposite is specializable, so its value is not final.

This would be a great time to add unit tests for the constants manager.  :-)

[2017-12-22 00:18] dneto0 commented on #943
The case in #731 should be safe.

As for general folding, Graphics environments assume "fast relaxed math" by default, but Kernel (OpenCL) is like C by default, and is much more careful.   Also, each environment can flip the behaviour via decorations.
E.g. Graphics code can use NoContraction to prevent certain transforms.
Kernel code can use FPFastMathMode to enable lots of stuff, including full f

[2017-12-22 15:04] dneto0 commented on #1022
Fixed with #1129

[2017-12-22 15:04] #1022 closed

[2017-12-22 17:44] dnovillo opened #1132 "Add support for integer arithmetic different than 32-bits in folder"
FoldScalars() and FoldVectors() currently operate on 32-bit integers only.  They should be extended to handle 64-bit arithmetic as well.

[2017-12-22 18:35] #1130 closed

[2017-12-22 18:36] dneto0 commented on #889
Reopening since the last step of CFG cleanups is still pending.

[2017-12-22 18:36] dneto0 commented on #889
Never mind. I see #1124 is open for the last bit

[2017-12-22 18:36] #889 closed

[2017-12-22 18:38] dneto0 commented on #1101
Fixed by #1122

[2017-12-22 18:38] #1101 closed

[2017-12-22 18:41] dneto0 commented on #710
Since an Undef has no "in" operands, this assert will have to be weakened
https://github.com/KhronosGroup/SPIRV-Tools/blob/master/source/opt/ccp_pass.cpp#L119

[2017-12-22 18:43] dneto0 commented on #1017
@greg-lunarg : Can you confirm this is entirely fixed now?

[2017-12-22 19:59] antiagainst opened #1134 "[InstCombine] Merge consecutive vector element extract and construct into one construct"
In HLSL, the following code pattern is quite common:

[code]

This translates into

[code]

Which could be turned into

[code]

This results in less code.

[2017-12-22 20:40] dneto0 commented on #1134
Wow, I don't think I've seen that case of using a vector operand for vector construction.  I checked and the validator does accept that.  I wonder what the CTS test coverage is like!

[2017-12-22 20:41] dneto0 commented on #1132
Make sure they work with 16bit ints and floats too, or refuse to fold.

[2017-12-22 20:43] dnovillo commented on #1132
Good point.  I've updated the mission statement for this issue.

[2017-12-22 21:16] antiagainst commented on #1134
Yep. This may be a problem for some drivers.

The spec explicitly allows it so I am thinking why not using it? :)

[2017-12-22 22:59] pierremoreau commented on #1112
If no one started working on this one, I’ll give it a shot.

[2017-12-22 23:21] dneto0 commented on #1112
Thanks.  I don't think anybody else has started it.

I will be on vacation the next week, so take your time.  :-)

[2017-12-23 22:48] #1075 closed

[2017-12-24 10:24] pierremoreau opened #1135 "Unused functions in type_manager_test.cpp"
clang 5.0.1 complains about the following functions being defined but unused in “test/opt/type_manager_test.cpp”: “Validate()” and “GenerateAllTypes()”. Using the regular flags, the warning is being treated as an error and prevents from compiling the project.

Are those functions supposed to be used in the future, or can they be safely removed?

[2017-12-24 10:48] pierremoreau opened #1137 "Remove the boolean argument of DecorationManager::AreDecorationsTheSame"
From https://github.com/KhronosGroup/SPIRV-Tools/pull/1113#discussion_r157857551,

SameDecorationValueAndTarget vs. SameDecorationValue are the two cases?

[2017-12-24 10:51] pierremoreau opened #1138 "Make `DecorationManager::AreDecorationsTheSame()` into a free function"
`DecorationManager::AreDecorationsTheSame()` does not require any of the data cached into a `DecorationManager` instance and could be made into a standalone function, or maybe a static method of the `DecorationManager` class.

[2017-12-24 10:59] pierremoreau opened #1139 "Turn the two `Linker::link()` functions into free functions"
From https://github.com/KhronosGroup/SPIRV-Tools/pull/693#discussion_r141394561

[2017-12-24 11:05] xnoreq opened #1140 "Inconsistent tabs/spaces in python files"
See for example generate_grammar_tables.py line 695:
![screenshot](https://user-images.githubusercontent.com/4028859/34325973-5e70e8c4-e8a2-11e7-87bf-ec54e99925bd.png)

It seems @dneto0 uses 8 spaces/tab (while the screenshot above uses 4). Please use a tool like `expand` to prevent python's “inconsistent use of tabs and spaces in indentation” TabError.

[2017-12-27 21:52] greg-lunarg commented on #1017
All known incorrect transformations due to variable initialization are now fixed with the merging of PRs
#1073 and #1076.

[2017-12-29 01:56] greg-lunarg opened #1143 "Opt: --ccp (and -O and -Os) generates incorrect code for integer for-loops"
Test case:

; SPIR-V
; Version: 1.0
; Generator: Khronos Glslang Reference Front End; 3
; Bound: 43
; Schema: 0
               OpCapability Shader
          %1 = OpExtInstImport "GLSL.std.450"
               OpMemoryModel Logical GLSL450
               OpEntryPoint Fragment %main "main" %o
               OpExecutionMode %main OriginUpperLeft
               OpSource GLSL 430
               OpName %

[2017-12-29 14:01] antiagainst commented on #1140
Done via #1142

[2017-12-29 14:01] #1140 closed

[2017-12-29 14:23] antiagainst commented on #1135
Fixed via #1141

[2017-12-29 14:23] #1135 closed

[2017-12-29 20:23] greg-lunarg commented on #1143
Here is the GLSL of the test case:

#version 430

layout(std430) buffer U_t
{
    float g_F[10];
};

layout(location = 0)out float o;

void main(void)
{
    float s = 0.0;
    for (int i=0; i<10; i++)
        s += g_F[i];
    o = s;
}

[2017-12-30 10:48] doe300 opened #1144 "Allow for partial linking"
Problem:
The linker currently expects all functions imported by one of the modules linked together to be exported by another module, otherwise it fails. This works well for linking together a final binary module, but does not allow for linking partially-linked modules, which have still unresolved import linkages.

Use-case:
I have an [OpenCL compiler](https://github.com/doe300/VC4C), that uses the

[2017-12-30 23:55] pierremoreau opened #1145 "Relax decoration check when comparing types/variables?"
Problem
------------

The two following SPIR-V binaries (obtained from the two following OpenCL C programs, compiled using KhronosGroup/SPIRV-LLVM) fail to link together due `OpVariable %4` missing the alignment decoration in the first binary:

link-var_main.spv
[code]

link-var_def.spv
[code]

link-var_main.cl
[code]

link-var_def.cl
[code]

Discussion
-------------

Looking at the SPIR-V 1.2 Spe

[2018-01-02 13:18] danginsburg opened #1146 "spirv-val does not catch when SampleMask is not declared as an array"
The Vulkan specification 1.0.66 states:

"Any variable decorated with SampleMask must be declared as an array of 32-bit integers."

However, there was a bug in glslang where for HLSL it was outputting SampleMask as just a 32-bit integer, see: https://github.com/KhronosGroup/glslang/issues/1202

I think spirv-val should catch this error in the vr_standard_ps.spv attached to that bug.

[2018-01-02 14:36] dnovillo commented on #1143
Thanks for the test case, @greg-lunarg.  I'll work on a fix.

[2018-01-02 14:47] dneto0 commented on #1143
A quick look reveals also that the induction variable test and branch are also incorrect:

[code]

[2018-01-03 01:06] disks86 opened #1148 "Display Invalid Instruction"
Instead of just displaying the last valid instruction if the invalid instruction could be printed as well that would be very helpful. For example if you receive "error: 11979: Id is 0" you can't tell what Id is zero based on the output because the invalid instruction is not displayed.

[2018-01-03 12:14] redorav commented on #735
Hi @greg-lunarg I'm trying to have another look at the shader optimization to see how much this is still a problem. What optimization pass do I need to enable to remove the k1 == k2 types of conditionals? Currently with the most up to date SPIRV-Tools they're still present in the resulting glsl.

[2018-01-03 16:04] dneto0 commented on #1148
This is similar to an earlier complaint #670.

Yes, the error reporting is particularly bad.  Sorry about that.  I've been thinking about how to improve the situation and backport the change to all or most of the existing validation checks.

[2018-01-03 16:05] dneto0 commented on #1139
WIP #1149

[2018-01-03 17:58] Naghasan opened #1151 "Should iterators be preferred over ForEach* methods ?"
Many data structures have `ForEach*` methods instead of iterators, but this does not play well with the C++ library.

Very simple example from the BasicBlock class:
[code]
Could be expressed as:
[code]

One issue I find with this "ForEach" approach is that it prevents early exits, many are over small intervals (so that's fine) but that's not always the case.

Should we try to favor iterator implem

[2018-01-03 18:06] dnovillo commented on #1151
I personally prefer standard iterators over ForEach.  It also prevents the somewhat hideous lambda syntax.

[2018-01-03 18:38] doitsujin commented on #1148
This is noticable not only in the validator but in spirv-dis as well. It would be helpful if the disassembler could ignore these errors if possible and display the numerical value of invalid IDs, unrecognized opcodes, flags etc.

[2018-01-03 18:42] redorav opened #1153 "clip() crashes the optimizer"
This simple hlsl

[code]

produces the following SPIRV

[code]

which crashes SPIRVTools.

Optimizer is setup as follows

[code]

[2018-01-03 18:53] dnovillo commented on #1153
Thanks.  This is happening in other shaders.  The OpKill is giving the SSA propagator a hard time.

[2018-01-03 18:53] dnovillo commented on #1153
Preparing a fix now.

[2018-01-03 19:04] alan-baker opened #1154 "MemPass:InsertPhiInstructions does not update instr -> basic block mapping"
InsertPhiInstructions does not update the instr -> block mapping, nor does it mark the analysis as invalid.

I plan to fix this by keeping the analysis up-to-date.

[2018-01-03 19:26] dnovillo commented on #1153
Smaller reproducer.  I'll add it to the CCP tests.

[code]

[2018-01-03 19:29] dneto0 commented on #1151
The early exit behaviour could be addressed by having the lambda return a value to indicate "continue" vs. "exit now".   We haven't done that (yet) because it makes the common case more complex, unless the early exit form is another method name or templated differently.

But that doesn't address your other criticism.

Then again:
 - someone would have to implement the phi_begin, phi_end pair.

[2018-01-03 20:50] dneto0 commented on #1153
I've confirmed that #1156 fixes the issue on the submitted case.

[2018-01-03 20:50] #1153 closed

[2018-01-03 21:21] alan-baker opened #1157 "Dead branch elim can generate invalid def use chains during processing"
If dead branch elim erases a section of code that is later referenced in a phi node, the pass may assert about missing definitions because because definition is removed before updating its uses.

[2018-01-03 23:39] zeux opened #1159 "SSAPropagator::Run hangs on a complex shader"
Running the standard set of optimization passes:

			tools.RegisterSizePasses();
			tools.RegisterPerformancePasses();

On the attached shader hangs the optimizer; it looks like the loop in SSAPropagator::Run never terminates. This is most likely a semi-recent regression - the shader built & optimized fine with glslang & SPIRV-Tools around 1 month ago.

[test.spv.zip](https://github.com/KhronosGro

[2018-01-03 23:41] zeux opened #1160 "assert(base_inst->IsValidBasePointer()) in Instruction::GetBaseAddress()"
When running the optimization passes on the attached shader, this assertion fails:

[code]

[test.spv.zip](https://github.com/KhronosGroup/SPIRV-Tools/files/1602043/test.spv.zip)

[2018-01-03 23:59] dneto0 commented on #1157
It looks like https://github.com/KhronosGroup/glslang/issues/1205 might be the same issue as this.  There is a test case there.

[2018-01-04 16:03] #1003 closed

[2018-01-04 16:11] s-perron commented on #1160
I'll take a look at this.

[2018-01-04 17:10] greg-lunarg commented on #1157
@alan-baker Have you looked at KhronosGroup/glslang#1205 yet? I will start with that unless you think you already have a solution.

[2018-01-04 17:30] dnovillo commented on #1159
Thanks for the report.  Triaging.

[2018-01-04 17:38] greg-lunarg commented on #1157
If you have something for this issue, pass me a branch and I will see if it also fixes the other issue.

[2018-01-04 18:04] dneto0 commented on #1159
I just saw a hang with --ccp on the test case from  https://github.com/KhronosGroup/glslang/issues/1205 Let me know if you want me to attach it here.

[2018-01-04 18:09] dnovillo commented on #1159
Yes, please.  If it's not the same root cause, I'll create a new issue.

[2018-01-04 18:10] alan-baker commented on #1157
Here is a minimal testcase (run spirv-opt --eliminate-dead-branches in debug to trigger assertion).

[2018-01-04 18:11] alan-baker commented on #1157
The above example attempts to delete only %inner_merge and not %inner_then or %inner_merge which creates invalid IR.

[2018-01-04 18:26] dneto0 commented on #1159
Here's the test case from Glslang issue 1205.
[glslang-1205.zip](https://github.com/KhronosGroup/SPIRV-Tools/files/1604318/glslang-1205.zip)

It hangs in spirv-opt just running --ccp

[2018-01-04 18:27] alan-baker commented on #1157
![minimal-cfg](https://user-images.githubusercontent.com/33432579/34578449-fb5a5536-f152-11e7-9927-3b10670b2d08.png)

Erases 11, but not 14 or 15.

[2018-01-04 18:45] s-perron opened #1164 "Folding non-constant expressions"
Many times there are expressions that can be simplified even if not all of the operands are constants.  A few of these are:

[code]
It can be useful to simplify these, especially if they fold to a constant like `b && false`.

This issue will have a few different parts to it:

- [x] Write a utility that folds any instruction if possible.
- [x] Make use of this new utility in CCP
- [x] Make use of t

[2018-01-04 18:48] dnovillo commented on #1164
This is already reported in #896.  I'll assign it to you, if you're ready to start working on this.

[2018-01-04 19:05] dneto0 commented on #587
Fixed by #1161 which has been merged into master

[2018-01-04 19:05] #587 closed

[2018-01-04 19:11] #1112 closed

[2018-01-04 19:20] #1017 closed

[2018-01-04 20:22] dnovillo opened #1165 "Adapt C-Reduce to work on SPIR-V."
https://embed.cs.utah.edu/creduce/

This tool works on C/C++, but it can be adapted to work on other IRs.  I'm not sure how difficult this task is, but it is an extremely useful tool to minimize test cases.

[2018-01-04 20:25] antiagainst opened #1166 "For loop incorrectly optimized away"
For the following HLSL code:
[code]
DXC/Spiregg generates the following raw SPIR-V:
[code]
Legalization passes (`RegisterLegalizationPasses()`) turns it into
[code]
Which seems correct. But optimization passes (`RegisterPerformancePasses()`) turns it into
[code]

The for loop is completely gone.

Originally reported in https://github.com/Microsoft/DirectXShaderCompiler/issues/958.

Likely related

[2018-01-04 20:33] greg-lunarg commented on #1166
CCP is not in legalization, but it is in performance.

By my reckoning every shader that has an integer controlled for-loop is likely broken by #1143. Should we take CCP out of -Os and -O until it is fixed?

[2018-01-04 20:46] greg-lunarg commented on #1166
I should amend my previous statement: By my reckoning every shader that has an integer controlled for-loop **with a constant initial value** is likely broken by #1143.

I will try to narrow down where the problem is occurring.

[2018-01-04 20:51] dnovillo commented on #1166
On Thu, Jan 4, 2018 at 3:33 PM, greg-lunarg <notifications@github.com>
wrote:

Yes, that is always an acceptable workaround if a bug affects a bunch of
different code.  I'm looking at #1143 today, but feel free to remove CCP if
that's the culprit.

[2018-01-04 21:04] dnovillo commented on #1159
The propagator is getting into an infinite loop when analyzing phi instructions, the SSA edge list is getting populated with the same ssa edge over and over again:

[code]

Reducing for a smaller reproducer.

[2018-01-04 21:31] greg-lunarg commented on #1166
CCP is generating incorrect code here. The problem is similar to #1143. It seems that it is also affecting floating point, and it is affecting inductions in general and not just for-loops. Its changes would inideed cause the loop to be eliminated.

It seems any shader with an integer or floating point induction starting with a constant value will have incorrect code generated.

[2018-01-04 22:19] dnovillo commented on #1143
I think this may be somehow related to #1159.  The presence of self-referential Phi instructions is causing the propagator to add the same phi node onto its work list over and over again.  I'm building a test case manually.

[2018-01-04 22:54] dneto0 commented on #1157
I'm attaching SPIR-V assembly for the input to dead branch elim, from original Glslang issue 1205.

[foo.spvasm.txt](https://github.com/KhronosGroup/SPIRV-Tools/files/1604982/foo.spvasm.txt)

Sometimes this is optimized correctly, other times the live remaining branch is deleted which is invalid.

Further investigation shows that the test for HasNonPhiNonBackedgeRef is returning inconsistent answe

[2018-01-05 00:02] dneto0 commented on #1157
@alan-baker filed this issue for a test case he's still working on.
I have a fix for https://github.com/KhronosGroup/glslang/issues/1205 which might have a different underlying cause.  I'll file a separate issue for mine.

[2018-01-05 00:04] dneto0 opened #1168 "dead branch elim: backedge bookkeeping was getting stale"
Originally https://github.com/KhronosGroup/glslang/issues/1205

Symptom is that sometimes dead branch elimination would mistakenly delete a live block, resulting in invalid dangling references to other live blocks.

Diagnosis is in https://github.com/KhronosGroup/glslang/issues/1205#issuecomment-355429806

[2018-01-05 00:04] dneto0 commented on #1157
I filed https://github.com/KhronosGroup/SPIRV-Tools/issues/1168  for my issue.

[2018-01-05 13:36] baldurk opened #1170 "spirv-dis can't output colour to non-tty"
In [`tools/dis/dis.cpp`](https://github.com/KhronosGroup/SPIRV-Tools/blob/master/tools/dis/dis.cpp#L155) it checks for `allow_color` (meaning `--no-color` _wasn't_ passed - i.e. the default as long as `SPIRV_COLOR_TERMINAL` is enabled) and `output_is_tty` before setting the `SPV_BINARY_TO_TEXT_OPTION_COLOR` option.

This is fine as a default behaviour so that you don't get control codes when pipin

[2018-01-05 14:03] pierremoreau commented on #1144
I can have a look at allowing partially linked modules, when given the corresponding linker option.

[2018-01-05 15:13] #1168 closed

[2018-01-05 15:34] dneto0 commented on #896
- [ ] If all value operands of a Phi %phi are value %x, and %phi is not %x, then replace all uses of %phi with %x

[2018-01-05 15:35] dneto0 commented on #896
- [ ] Undef absorption.  See #710

[2018-01-05 15:42] #1159 closed

[2018-01-05 16:02] dnovillo commented on #1143
It's related to #1159 but not the same.  I minimized the test case further.  Debugging now:

[code]

As observed above, ee somehow fail to evaluate the meet for `%27` properly.  It's meeting `%int_0` and `%int_1` and somehow ending up with `%int_0` instead of `Varying` (which is 'bottom' in the original lattice).

[2018-01-05 16:19] dnovillo commented on #1143
Smaller test case to be included with the fix:

[code]

[2018-01-05 16:40] dnovillo commented on #1143
Found the bug.  The way the meet operator for Phi instructions works is to only evaluate Phi arguments that arrive from executable edges.  This Phi instruction is visited twice.  On the first visit, the only executable argument is the first one, which carries %int_0.  We then save %int_0 in the values table as the value for that Phi.

On the second visit, it sees %int_10 which meets with %int_0 to

[2018-01-05 17:45] dnovillo commented on #1143
There is an additional wrinkle.  I think I need to actually model varying values in the value table.  The transition from constant to varying in the Phi node is not being reflected in the expressions that use its result.  The expressions find that the operand for the Phi now has no value, but they already had a value in them, so they don't drop to varying.

[2018-01-05 18:12] dneto0 commented on #1170
Makes sense as a use case and the implementation looks right.
I'd make the option `--color` and have it negate any previous --no-color, and --no-color would negate any previous --color.

[2018-01-05 18:27] #1160 closed

[2018-01-05 18:43] dneto0 commented on #768
I think you said that incorrectly.  The tests (at https://github.com/KhronosGroup/SPIRV-Tools/blob/master/test/link/entry_points_test.cpp ) are:
 - same execution model, different name --> link success
 - different execution model, same name --> link success
 - same execution model, same name --> link failure

That's the right set of results.

About link-time disambiguation: I think there's a usab

[2018-01-05 18:44] dneto0 commented on #768
Fixed by #1149

This is a great addition!  Thank you @pierremoreau

[2018-01-05 18:44] #768 closed

[2018-01-05 18:44] dneto0 commented on #1139
Fixed by #1149

[2018-01-05 18:44] #1139 closed

[2018-01-05 18:53] baldurk commented on #1170
Yeh I just put the diff there as what I hacked in locally to illustrate the logic I meant, I leave the actual implementation up to you :smile:.

[2018-01-05 19:42] dneto0 commented on #845
I retried this test case and it does not crash or fail for me.    It is optimized correctly.

I tried:
 - linux x86-64 with GCC
 - windows VS2017 in Release, RelWithDebInfo, Debug builds

Closing.

Thanks for reporting this issue in the first place.  If this arises again, please open a new issue.

[2018-01-05 19:42] #845 closed

[2018-01-05 20:40] alan-baker opened #1174 "DecorationManager does not properly handle decoration groups"
When decorations of an instruction are killed, only the leaf instruction are handled. Groups and group decorates are not properly removed. Additionally, since leaves are removed, we could incorrectly remove decorations for a live value (because OpGroupDecorate can specify multiple targets).

[2018-01-05 21:27] dneto0 opened #1175 "Generalize dead branch elimination for OpSwitch over 64 bit values"
Blocked by #1173

[2018-01-05 21:44] dneto0 commented on #1124
Dead branch elim does the straightening out.  With #1173 it even works for non-Shader modules.

[2018-01-05 22:14] dneto0 opened #1176 "Consider banning use of std::queue due to potential slowness with MSVC"
By default std::queue uses a std::deque as the underlying container.

Some past experience with MSVC runtimes have shown that block sizes for std::deqeue could be quite small and you could end up jumping around memory a lot.

Need to investigate!

The optimizer and compressor use std::deque, in possibly performance-critical parts of the code.

[2018-01-05 22:14] dneto0 commented on #1176
Cc @AWoloszyn

[2018-01-05 22:32] dneto0 opened #1177 "BasicBlock::ContinueBlockIdIfAny should exit early if it reaches an OpSelectionMerge"
All uses of ContinueBlockIdIfAny immediately follow a use of MergeBlockIdIfAny. So a selection block will always be fully scanned when it can exit early.
It can exit early because OpSelectionMerge and OpLoopMerge can never be used in the same block.

[2018-01-05 22:34] dneto0 commented on #1177
While we're there, let's fix the comment on MergeBlockIdIfAny to avoid referencing non-existing |cbid| parameter.

[2018-01-06 00:08] pierremoreau commented on #768
Ugh, yes, that is the right set of results indeed.

Reading the spec again, it feels like the linker should disambiguate between different symbols with the same name using the symbol’s signature. If the signature are the same, I agree that the client should do the disambiguation (symbol’s name should be “unique”).
Currently the linker will fetch, for each imported symbol, all exported symbols with

[2018-01-06 00:11] pierremoreau commented on #1174
The whole `RemoveDecoration()` needs to be redone, as it no longer works even for lead decorations (the mappings are removed within the manager, but the instructions remain). I’ll work on that

[2018-01-08 15:31] alan-baker commented on #1174
If you take a look at my PR #1147. You can see how I approach removing all dead decorations. You may find that useful for this.

[2018-01-08 15:38] pierremoreau commented on #1174
I have a WIP available at https://github.com/pierremoreau/SPIRV-Tools/tree/fix_removedecoration; I still need to do some cleanup and add more unit tests to it before submitting it.
I’ll have a look at your PR, thanks for the link.

[2018-01-08 15:41] dneto0 commented on #1177
Rereading the code, there is no loop in BasicBlock::ContinueMergeBlockIdIfAny.

[2018-01-08 16:36] #1177 closed

[2018-01-08 17:26] zeux opened #1182 "if (0.0 == 0.0) branch not eliminated in a complex shader"
In one of our shaders, the source contains compile-time dispatch using constants with `if` excluding the complex computation if necessary; SPIRV optimization pipeline we set up like this doesn't end up eliminating those:

[code]

Attaching the offending SPIRV bytecode; an example of the branch in question is this one (fragment from spv-opt file):

       %1124 = OpFOrdEqual %bool %float_0 %float_0

[2018-01-08 18:29] dnovillo commented on #1182
This is tracked in #1132

[2018-01-08 18:34] dnovillo commented on #943
#1182 has another example of floating point folding that should be handled (equality and inequality)

[2018-01-08 20:36] #1143 closed

[2018-01-08 20:39] dnovillo commented on #1166
This should now work as of SPIRV-Tools commit e5560d64.  Could you please check?

[2018-01-08 20:47] antiagainst commented on #1166
Yes, this is fixed. Thanks @dnovillo!

[2018-01-08 20:47] #1166 closed

[2018-01-09 08:42] HansKristian-ARM opened #1183 "PackDouble2x32 is mis-validated"
Getting an error:
[code]
but spec says:
[code]

[2018-01-09 09:30] HansKristian-ARM opened #1184 "For-loop is mis-optimized into while (true)"
Commit: 716718a5e969f6b4e73cbc864db59a754a83aab3

Input:
[code]

After:
[code]

[2018-01-09 14:55] baldurk opened #1185 "spirv-val doesn't check for OpSelectionMerge before OpBranchConditional"
As mentioned in the title, spirv-val doesn't print any errors if `OpSelectionMerge` is omitted before an `OpBranchConditional`, even though the shader declares the `Shader` capability which requires that for structured flow.

Example repro shader:

[code]

[2018-01-09 17:22] antiagainst opened #1187 "Inconsistent index reported by spirv-val"
It seems that in spirv-val we are using two kinds of indices:

* instruction index
https://github.com/KhronosGroup/SPIRV-Tools/blob/e5560d64de40bcc52b38ee44fd8a0bbc42f64399/source/val/validation_state.cpp#L249-L253

* word index
https://github.com/KhronosGroup/SPIRV-Tools/blob/e5560d64de40bcc52b38ee44fd8a0bbc42f64399/source/validate_id.cpp#L109-L113

If an error occurs, depends on where the check

[2018-01-09 18:12] dneto0 commented on #1183
Fixed by #1186

[2018-01-09 18:12] #1183 closed

[2018-01-09 18:14] dneto0 commented on #1157
@alan-baker is this resolved by #1173?

[2018-01-09 18:18] alan-baker commented on #1157
Yes, this is fixed by #1173 .

[2018-01-09 18:18] #1157 closed

[2018-01-09 19:06] greg-lunarg commented on #1184
Not sure just what recipe you are using, but I believe your issue is resolved by commit e5560d64de40bcc52b38ee44fd8a0bbc42f64399. Can you confirm?

[2018-01-09 21:52] pierremoreau commented on #924
Where in the spec does it say that an OpDecorationGroup can only be used as a target to OpDecorate and OpDecorateId? I would love to get rid of group-decorate-of-group-decorate-of-group-decorate etc. cases, but I couldn’t find such restrictions in the spec.

[2018-01-10 00:19] dneto0 commented on #1185
Yes, this check is not implemented.

It's not the case that an OpBranchConditional *always* be preceded by an OpSelectionMerge or OpLoopMerge.  A conditional branch implementing a break or continue is such a case.

[2018-01-10 00:37] dneto0 commented on #924
I'll see if I can recall the argument

From the OpDecorationGroup description:

From the first sentence, OpDecorate and OpDecorateId can target OpDecorationGroup.  Fine.
From the second, those OpDecorate and OpDecorateId must precede the targeted OpDecorationGroup.

I guess you're concerned about a situation where an OpGroupDecorate can use an OpDecorationGroup result id as a *Target* operand?  I

[2018-01-10 09:06] pierremoreau commented on #924
Right, for example would the following be allowed:
[code]

It’s true that “A collector for Decorations from OpDecorate and OpDecorateId instructions.” could imply that OpDecorate and OpDecorateId are the only instructions allowed to target an OpDecorationGroup result ID, but on the other hand from the OpGroupDecorate description:

so absolutely no restriction is made here about what the targets co

[2018-01-10 13:44] alan-baker commented on #906
Fixed by 3a054e1ddcc43cde3fdcb906ae087b2aa39d1deb.

[2018-01-10 13:44] #906 closed

[2018-01-10 21:38] #983 closed

[2018-01-12 15:21] alan-baker commented on #1154
Rebased, squashed and committed as eb0c73dad6102fc0d4f03c62fe910348bae43a11.

[2018-01-12 15:21] #1154 closed

[2018-01-12 15:50] alan-baker opened #1192 "Add early return versions of ForEach* methods"
There are currently many cases where code could be more efficient if the ForEach* method took a functor with a boolean return value (as opposed to a void return). To avoid confusion, add early return versions as WhileEach* (e.g. ForEachInId -> WhileEachInId). The ForEach* method should be implemented in terms of the WhileEach* method. Example:

void WhileEachInId(std::function<bool(uint32_t id)> f

[2018-01-12 16:25] alan-baker commented on #988
Rebased, squashed and committed as 672494da13d54cf72d41edc67ecc6b53c561afc6.

[2018-01-12 16:25] #988 closed

[2018-01-12 16:49] s-perron opened #1193 "Constant Manager is not initialized when created."
The current code expects the users of the constant manager to initialize
it with all of the constants in the module.  The problem is that you do
not want to redo the work multiple times.  So I decided to move that
code to the constructor of the constant manager.  This way it will
always be initialized on first use.

[2018-01-12 18:55] #1193 closed

[2018-01-12 18:58] dneto0 opened #1195 "Use unifed1 headers from SPIRV-Headers"
This is the way of the future.

It requires restructuring of grammar tables.  I'm taking this one.

[2018-01-12 22:09] dneto0 commented on #1192
Fixed by #1196

[2018-01-12 22:09] #1192 closed

[2018-01-12 22:14] dneto0 commented on #1118
@s-perron: What's the status of this issue?

Also, per @greg-lunarg's suggestion, it might help if you describe how you're determining whether you've gone far enough (and implictly not "too far").  E.g. it would be great if you said "fixes everything in my corpus and in Greg's corpus", however those corpora are defined.  (Yes I had to look up the plural of corpus!)

For the benefit of the ecosyste

[2018-01-13 00:05] antiagainst commented on #1118
We are still fixing a few front end defects that result in validation errors of other categories under `--relax-logical-pointer`. After that, legalization transformations will have input satisfying their expectations. Then we will run over our shader corpus to see whether the current list needs tweaking.

[2018-01-13 05:31] s-perron opened #1199 "Error in CCP when processing OpSpecConstant* instructions."
At the moment specialization constants look like constants to ccp.  This
causes a problem because they are handled differently by the constant
manager.

I choose to simply skip over them, and not try to add them to the value
table.  We can do specialization before ccp if we want to be able to
propagate these values.

[2018-01-13 17:35] antiagainst commented on #1187
This is a duplicate of #670.

[2018-01-15 14:53] #1199 closed

[2018-01-15 19:31] alan-baker commented on #833
Handled by ADCE (via #1147)

[2018-01-15 19:31] #833 closed

[2018-01-16 12:26] redorav opened #1203 "Array out of bounds in GLSL caused by incorrect SPIR-V"
I reported a bug over at the SPIRV-Cross project about an array out of bounds issue where a variable named 645 is being used as a literal to access an array (so the code in glsl ends up as Array[645] instead of Array[_645]. The bug is this https://github.com/KhronosGroup/SPIRV-Cross/issues/397

This seems to be a very recent change as I'm on 5eafc00 commit eb0c73dad6102fc0d4f03c62fe910348bae43a11

[2018-01-16 14:11] alan-baker commented on #1203
@redorav can you share the input to spirv-opt?

[2018-01-16 16:04] redorav commented on #1203
I've had to redo the repro and I lost the original one, but here's another shader that shows the same issue.

[ArrayOutOfBounds_spv.txt](https://github.com/KhronosGroup/SPIRV-Tools/files/1635849/ArrayOutOfBounds_spv.txt)
[ArrayOutOfBounds_optimized_spv.txt](https://github.com/KhronosGroup/SPIRV-Tools/files/1635850/ArrayOutOfBounds_optimized_spv.txt)

The resulting glsl shows the following code:

[

[2018-01-16 16:48] redorav commented on #1203
I'm using a custom recipe, this is the code. I try to base these on the performance passes, but I've had to sometimes disable some that cause bugs which is why I keep a custom one. Perhaps I'm doing something wrong?

[code]

[2018-01-16 18:29] alan-baker commented on #1203
I've successfully reproduced and root-caused this issue. Introduced by 6587d3f8a31b636c0d75b32d5ae65d338581c200. Bug is in CommonUniformElimPass::IsConstantIndexAccessChain. Missed a variable update when converting to WhileEach.

[2018-01-16 21:25] alan-baker opened #1205 "Local redundancy elimination is copying value table"
The functor in EliminateRedundanciesInBB missed capturing the value table by reference.

When profiling an outlying shader, compile time for legalization and optimization dropped from ~90sec to ~23sec on Windows built in Release with debug info.

[2018-01-17 04:55] dneto0 opened #1207 "validator does not always insist on an OpMemoryModel instruction"
Example input:
```OpCapability Linkage``` passes validation when it shouldn't.

[2018-01-17 15:39] alan-baker commented on #1203
Fixed by #1204

[2018-01-17 15:39] #1203 closed

[2018-01-17 15:39] dneto0 commented on #1205
Fixed by #1205

[2018-01-17 15:39] #1205 closed

[2018-01-17 15:40] alan-baker commented on #1205
Fixed by #1206

[2018-01-17 15:43] dneto0 commented on #1184
I agree with @greg-lunarg that this was fixed in --ccp.
I reran the input against spirv-opt -O and it keeps the loop induction variable intact.

Closing.

[2018-01-17 15:43] #1184 closed

[2018-01-17 16:07] dneto0 commented on #1021
Fixed by #1201

[2018-01-17 16:07] #1021 closed

[2018-01-17 18:41] s-perron opened #1209 "Work around a driver bug related to OpUnreachable"
Add a pass to work around the issue https://gitlab.khronos.org/Tracker/vk-gl-cts/issues/952.

The solution will be to change OpUnreachable into a branch to the merge block of its nearest enclosing loop, if one exists.

An example shader is

[code]

[2018-01-17 19:07] alan-baker opened #1210 "Recent change broke ADCE"
80b743a570a6a616484d9aa9233774fed6cc5463 (#1021) broke ADCE by inserting a potential infinite loop.

[2018-01-17 20:22] dneto0 opened #1212 "ADCE produces invalid code: two branches in a row, missing block"
@alan-baker and I found this while trying to make a test case for #1211

The issue was introduced in  22faa2b083aa738ef3 when general block cleanup was added to ADCE.

Two test slightly different test cases:

a.spvasm:
[code]
Running  --eliminate-dead-code-aggressive on this, I get:

[code]

A second test case:  This copies input var %in_var to output var %out_var.

[code]
Running ADCE on this sec

[2018-01-17 21:27] alan-baker opened #1214 "ADCE Infinite loop"
Separate from #1210, the following SPIR-V produces an infinite loop in ADCE.

[code]

![cfg](https://user-images.githubusercontent.com/33432579/35067761-004bafe0-fba3-11e7-8e46-bd44bc0a3c75.png)

When attempting to identify breaks from the outer loop (11, %outer_header), adce considers the users of the merge id. One of those is the branch in the continue for the following loop (18, %continue). Tha

[2018-01-17 21:29] dneto0 commented on #1210
Fixed by #1211

[2018-01-17 21:29] #1210 closed

[2018-01-18 05:02] #1170 closed

[2018-01-18 17:54] dneto0 opened #1218 "Linker should handle OpModuleProcessed"
OpModuleProcessed instructions (introduced in SPIR-V 1.1) are accessed as ir::Module::debugs3().
That was added while the linker was being reviewed.

[2018-01-18 18:10] pierremoreau commented on #1218
I’ll take it.

[2018-01-18 20:02] dneto0 commented on #1218
thanks. :-)

[2018-01-18 20:40] dneto0 commented on #1148
See #1221 for partial progress.  The validator will show the offending instruction during some parts of its processing (essentially the first scan of the module).  It's not yet what you want, but it might help.

[2018-01-18 20:42] dneto0 commented on #670
With #1221 the validator will now print the disassembly of an offending instruction during its (essentially) first scan of the module.   It's a proper implementation of the idea from https://github.com/KhronosGroup/SPIRV-Tools/issues/670#issuecomment-327515131

After the initial scan, the validator's code is structured differently, counts differently, and other bad things.  Fixing that will take m

[2018-01-18 20:44] dneto0 commented on #670
(The spv_position_t concept has not changed since I took over this project, and that limits the amount of contextual information I can carry around without reworking a lot of code and introducing new entry points or concepts.  Sorry about that.)

[2018-01-19 01:34] #1209 closed

[2018-01-19 14:58] s-perron commented on #1209
To enable the workaround use --workaround-1209 on the command line.

[2018-01-19 16:12] #1214 closed

[2018-01-19 16:13] #1212 closed

[2018-01-19 20:37] alan-baker commented on #711
Found some examples in production shaders that would benefit from this opt and have started some initial work on it.

[2018-01-22 19:19] alan-baker opened #1224 "Handle phi updates in block merge pass"
The block merge pass bails on merging blocks if there are phis that reference the block that will be deleted. This should not inhibit the optimization, instead the phi nodes should be updated to indicate the updated incoming block.

A possible alternative for the block merging would be to delete the block with the unconditional branch, but that might not significantly limit the problem.

[2018-01-23 09:18] dneto0 commented on #882
I think people commonly want the default floating point string that their platform C++ library provides.  We should keep that as the default.

So I think we should add a disassembler option to force hex floats, for all float constants in the module. That gives us bit-for-bit preservation for floats through disassembler -> assembler round trip.

[2018-01-23 09:27] dneto0 commented on #1195
Since we're ingesting only one version of JSON file, we should have a single set of tables to represent the grammar.  We need to represent each token as either:  Reserved, Conditional, or Universal.

I plan to use the current representation of a token, but add a "min version" field so that:
 - Reservation uses min version of effectively SPV_ENV_UNIVERSAL_infinity
 - Conditional uses min version SP

[2018-01-23 14:07] b-sumner commented on #882
It seems odd to me to make exact preservation of floating point constants through disassemble -> assemble just an option.  I'd say it is a requirement.  I don't really see any harm in outputting 0.1f as 0x1.99999ap-4.

[2018-01-24 11:14] tafuri opened #1228 "Loop increment incorrectly modified by eliminate-local-multi-store"
Optimizing the following shader with --eliminate-local-multi-store:
[code]

Generates the following result:
[code]

Note that the line `%91 = OpIAdd %int %90 %int_1` was transformed into `%91 = OpIAdd %int %116 %int_1` where `%116` is not actually the same variable used in the comparison for the outer loop. This means that subsequent optimization steps will optimize away the `OpIAdd` causing the l

[2018-01-24 16:34] greg-lunarg commented on #1228
I will claim this one.

[2018-01-24 19:13] greg-lunarg commented on #1228
Hi Sebastian. Thanks for the feedback, although I believe this transformation, while slightly convoluted, is correct.

You will see that %116 is created by a Phi function using values %110 and %111, although you will notice that the control path for %111 will never be executed. So %116 is essentially the value %110.

%110 is also a Phi value set at the top of the outer loop. Its inputs are the con

[2018-01-24 20:02] greg-lunarg commented on #1228
I figured you were having a *real* problem somewhere :)

Are you using current top of tree? We were seeing this problem a few weeks ago but it was fixed.

[2018-01-24 21:23] alan-baker commented on #1228
Using top of trunk, it looks like CCP is still problematic. The CCP right after eliminate local multi store has the induction variable increment always producing 1 and propagates that 1 to the outer loop phi that is used in the exit condition test.

[2018-01-24 21:42] tafuri commented on #1228
Yes, it seems like the CCP step was the actual problem. I apparently was mistaken in thinking that eliminate-local-multi-store was the cause. I still find spir-v quite difficult to read sometimes :)

[2018-01-24 21:52] atgoo commented on #694
Fixed in https://github.com/KhronosGroup/SPIRV-Tools/pull/811

[2018-01-24 21:52] #694 closed

[2018-01-24 22:05] #1115 closed

[2018-01-24 22:05] #1116 closed

[2018-01-24 23:22] alan-baker commented on #1228
Smallest testcase I've found that still reproduces this error:
[code]
Removing any of the phis causes the problem to disappear.

[2018-01-25 00:36] alan-baker commented on #1228
This appears to be caused by #1143 or #1159 or a combination of the two. During the initial simulation, %outer_phi only has the initialization edge executable and appears to produce an interesting value. Once %15 is simulated %2 gets pushed to simulate again. This re-simulates %outer_phi. The SSA edge to %extra_phi are not added because phis do not cause phis to be simulated again. This prevents l

[2018-01-25 00:43] alan-baker commented on #1228
My gut says the original infinite loop shouldn't be a problem when transitioning down to Varying since marking an instruction as varying should prevent further simulation of that instruction and break a loop. So if you reach the bottom of the lattice you should still add all the SSA edges.

Need to think through this solution more thoroughly.

[2018-01-25 01:49] s-perron commented on #1228
That seems reasonable.  When a id goes from from interesting or not interesting to varying, all of the consumers of the id should be reprocessed.

[2018-01-25 17:47] alan-baker commented on #711
Committed in 2e93e806e454e2cfefabf217320038188c6c1fb6

[2018-01-25 17:47] #711 closed

[2018-01-25 18:31] alan-baker commented on #1228
Unnecessary for the fix, but still seems wrong: CCPPass::VisitPhi doesn't mark the instruction as varying if all inputs are varying. It instead thinks the result is interesting because they all meet at the same value.

[2018-01-26 00:16] jeremy-lunarg commented on #1185
FWIW, I'm finishing up a patch which validates that OpLoopMerge is followed by an OpBranch or OpBranchConditional and OpSelectionMerge is followed by an OpBranchConditional or OpSwitch. Should have it ready tomorrow.

[2018-01-26 15:39] atgoo opened #1236 "Vulkan: Must use Logical addressing model"

[2018-01-26 15:40] atgoo commented on #1236
This is already disallowed by SPIR-V grammar.

[code]

[2018-01-26 15:40] #1236 closed

[2018-01-27 00:10] jozefkucia opened #1240 "Linking SPIRV-Tools with C code (shared/dynamic library request)"
Using SPIRV-Tools in C code is a bit problematic.

Let's take as an example the following code:
[code]

The usual way of building it fails:
[code]

I can fix this by linking with `libstdc++` or by using `g++`, but I would like to avoid this if possible.

Could SPIRV-Tools be also built as a shared library?

[2018-01-29 08:58] asuonpaa commented on #454
The validator is also not complaining about missing ArrayStride or MatrixStride decorations when writing to an SSBO which contains arrays or matrices.

[2018-01-29 17:47] atgoo opened #1243 "Add validation pass for barrier instructions."

[2018-01-29 20:13] alan-baker commented on #1228
Fixed in 1b46f7ecad32f99e0b28702505a192d7bf680bd7

[2018-01-29 20:13] #1228 closed

[2018-01-30 12:32] sheredom opened #1245 "dead_branch_elim_pass.cpp doesn't check whether GetMergeInst returns null"
I've had a report from a user that the following line https://github.com/KhronosGroup/SPIRV-Tools/blob/master/source/opt/dead_branch_elim_pass.cpp#L156 causes a null pointer to be dereferenced as `GetMergeInst()` returns `nullptr`.

Naively a fix could be just to check that `mergeInst` is != `nullptr` before the remaining logic on the line.

[2018-01-30 14:57] zeux commented on #943
I was looking into this a bit. Are there any SPIRV attributes that actually prevent constant folding for floating point instructions? There are obviously complications for non-constant simplifications such as `a * 0.0` which can't be simplified to 0.0 unless fast-math is enabled; but folding `3.0 * 4.0` to `7.0` or `1.0 > 0.9` to `true` should always be safe and correct?

[2018-01-30 15:14] alan-baker commented on #1245
Thanks for the report. I'll fix this.

[2018-01-30 15:29] s-perron opened #1247 "HLSL legalization: invalid opcode for shader stage."
Another problem that has come up in the HLSL legalization area is the use of specific opcodes that are not legal for the given shader stage.  For example, an `OpImageSampleImplicitLod` instruction can only be used in  fragment shader.  The generic HLSL code that is written will contain instructions of these types in non-fragment shaders, but, on close examination, there result will not be used.

I

[2018-01-30 16:04] s-perron commented on #1247
@antiagainst @dneto0  @alan-baker @dnovillo

[2018-01-30 17:21] strandborg opened #1248 "Minor: move_to_front.h has potentially uninitialized variable"
When building spirv-tools with clang and warnings-as-errors enabled, the following error is thrown:

[13:31:42] In file included from External/ShaderCompilers/SPIRV-Tools/source/comp/markv_codec.cpp:57:
[13:31:42] External/ShaderCompilers/SPIRV-Tools/source/util/move_to_front.h:627:7: error: variable 'right_child' may be uninitialized when used here [-Werror,-Wconditional-uninitialized]
[13:31:42]

[2018-01-30 18:10] zeux opened #1249 "Should SROA eliminate structs in this shader?"
My understanding is that there *is* a pass that does SROA (scalar_replacement_pass), so I'm somewhat surprised that in the attached shader it doesn't remove the struct

Here's a snippet from the shader:

        %152 = OpCompositeInsert %_struct_9 %123 %175 0
        %154 = OpCompositeInsert %_struct_9 %float_0 %152 0 2
        // snip
        %166 = OpCompositeExtract %v4float %154 0
        %168

[2018-01-30 18:25] alan-baker commented on #1249
Haven't looked at the attached testcase yet, but SROA will only scalarize Function storage class variables. You mention the above snippet is an output struct of the shader. SROA will not modify the interface of the shader.

[2018-01-30 18:28] zeux commented on #1249
I believe glslang flattens this struct onto individual variables for shader interface - the end of the shader looks like this:

               OpStore %gl_Position %170
               OpStore %100 %80
               OpStore %103 %140

The struct in question isn't used for output variables in the resulting SPIRV - it was there in the HLSL code only AFAICT.

[2018-01-30 19:19] alan-baker opened #1250 "Dead branch elimination makes unnecessary changes"
While performing some phase ordering experiments, I came across some instances of dead branch elimination reporting SuccessWithChange after repeated runs of the pass. At least some of it stems from unreachable continue blocks. The pass should be improved to only report change on real changes (i.e. it should not make effective nop transforms).

[2018-01-30 20:19] alan-baker commented on #1249
%gl_Position, %100 and %103 are all listed as outputs for the entry point "main" in that module. The are all OpVariable with Output storage class. It is expected behaviour that they are not scalarized.

I can't speak for glslang, but it seems inappropriate to change the output interface of this stage. Perhaps I'm missing something?

[2018-01-30 20:24] alan-baker commented on #1245
Committed in bd6ba3fbb43c90ba273f1c9813b2d041b8a6f601

[2018-01-30 20:24] #1245 closed

[2018-01-30 20:24] zeux commented on #1249
I'm not expecting gl_Position to get scalarized - I'm expecting the struct that's used to compute the float4 output variables to get scalarized. To make sure we're talking about the same thing, here's the full shader:

               OpCapability Shader
          %1 = OpExtInstImport "GLSL.std.450"
               OpMemoryModel Logical GLSL450
               OpEntryPoint Vertex %4 "main" %75 %79 %8

[2018-01-30 20:40] alan-baker commented on #1249
I see what you mean now, sorry for the confusion. I agree that there is an optimization to be performed, but SROA won't do that. What I would expect to be the result is:
[code]
This would cause %_struct_9 to become dead as you expect. This seems like something dead insert/extract or instruction folding should do I think.

[2018-01-30 20:42] zeux commented on #1249
Yeah, I'm not sure what SROA does right now and what it should do - maybe this needs a pass that can forward values from composite inserts to composite extracts, which will make composit inserts dead...

[2018-01-30 20:42] alan-baker commented on #1249
I will investigate getting this optimization performed.

[2018-01-30 20:56] dneto0 opened #1252 "constexpr causing headaches downstream in Glslsang"
https://github.com/KhronosGroup/glslang/pull/1227

Glslang tries to work with VS 2013.  But recently introduced constexpr in SPIRV-Tools caused it to fail compilation.

[2018-01-30 21:02] greg-lunarg commented on #1249
Yes, the current InsertExtractElim is currently not this sophisticated.

Is the "full" shader above the original shader without any optimizations performed on it?

[2018-01-30 21:21] dneto0 commented on #1224
@alan-baker :  If this is fully fixed, then please close.

[2018-01-30 21:23] zeux commented on #1249
No - that's the optimized shader. If you want I can attach the original SPIRV output without *any* legalization or optimization passes applied.

[2018-01-30 21:26] alan-baker commented on #1252
In order to do this, the instruction builder can no longer be templated on an Analysis enumerator. Instead I am planning to change it to a constructor argument.

[2018-01-30 21:28] #1224 closed

[2018-01-30 21:34] zeux commented on #1247
FWIW while we *currently* aren't running into this, it would be amazing to have an option to have the minimum amount of legalization code run.

We mostly use an optimized shader pack - legalization/performance passes, aggressive inlining, dead stripping, etc. - but for debugging it's sometimes convenient to get the original shader. We currently have packs without any optimizations that we use for

[2018-01-30 21:36] greg-lunarg commented on #1249
I think that would be helpful. I am wondering why the struct_9 did not broken down by SROA. Having the original would let us see that.

[2018-01-30 21:51] zeux commented on #1249
Sure thing; attaching the debug version of the shader. The struct in question is `%VertexOutput` (there's also `struct %Appdata` but that one looks like it has been optimized away).

This is before any legalization/optimization passes.

[sky-debug.spv.zip](https://github.com/KhronosGroup/SPIRV-Tools/files/1679520/sky-debug.spv.zip)

[2018-01-30 22:24] dneto0 commented on #1250
Fixed with #1251

[2018-01-30 22:24] #1250 closed

[2018-01-30 22:30] greg-lunarg commented on #1249
With the current spirv-tools top of tree and the following recipe:

--inline-entry-points-exhaustive --eliminate-dead-functions
--scalar-replacement --convert-local-access-chains
--eliminate-local-single-block --eliminate-local-single-store
--eliminate-insert-extract --eliminate-dead-code-aggressive
--eliminate-dead-branches --merge-blocks --eliminate-local-multi-store
--eliminate-insert-extract -

[2018-01-30 22:53] zeux commented on #1249
This is interesting. Maybe we are missing some passes... The way we get from the debug SPIRV I attached to the final SPIRV is by running this:

			tools.RegisterSizePasses();
			tools.RegisterPerformancePasses();
			if (tools.Run(spirv_copy.data(), spirv_copy.size(), &spirv) == false)
				throw std::runtime_error("SPIRV optimization failed:\n" + str.str());

Followed by this:

            spv::spi

[2018-01-30 22:59] dneto0 opened #1255 "validator: memory semantics bit value of 1 is in valid"
Followup to https://github.com/KhronosGroup/SPIRV-Tools/pull/1234#pullrequestreview-92751374

The 1 bit is a placeholder corresponding to C11's memory_order_consume.  That's not valid to use in SPIR-V.

[2018-01-30 23:02] dneto0 commented on #252
Fixed by #1234